@namespace SwashbucklerDiary.Rcl.Components
@inherits CardListComponentBase<DiaryModel>

<div class="card-list__wrap">
    <div class="@InternalClass">
        <CascadingValue Value="options"
                        IsFixed="true">
            <Virtualize Items="InternalValue"
                        ItemSize="150"
                        Context="item"
                        OverscanCount="30">
                <DiaryCard @key="item.Id"
                           Value="item"
                           OnClick="ClickCard"
                           OnMenu="OpenMenu">
                </DiaryCard>
            </Virtualize>
        </CascadingValue>
    </div>
    @if (ShowStatisticsCard)
    {
        <MultiSizeDisplay MdAndUp="true">
            <DesktopContent>
                <div class="card-list__assist-info">
                    <DiaryStatisticsCard Value="Value"></DiaryStatisticsCard>
                </div>
            </DesktopContent>
        </MultiSizeDisplay>
    }
</div>

<EmptyResult Show="Value.Count == 0"
             Text="@(NotFoundText ?? I18n.T("No diary"))">
</EmptyResult>

<SelectTagsDialog @bind-Visible="showSelectTag"
                  @bind-Value="SelectedTags"
                  Items="Tags"
                  ItemsChanged="TagsChanged"
                  OnSave="SaveSelectTags">
</SelectTagsDialog>

<DeleteDialog @bind-Visible="showDelete"
              Title="@(I18n.T("Delete a diary"))"
              Content="@(I18n.T("Please delete carefully, every diary is a precious memory.Once deleted, it cannot be restored."))"
              OnOK="ConfirmDelete">
</DeleteDialog>

<ExportDialog @bind-Visible="showExport"
              Value="exportDiaries">
</ExportDialog>

<RadioDialog @bind-Value="SortItem"
             @bind-Visible="showSort"
             OnChange="SortChanged"
             TItem="string"
             TItemValue="string"
             Title="@(I18n.T("Sort"))"
             Items="SortItems"
             ItemText="it => I18n.TForOrder(it)">
</RadioDialog>

<MultiSizeMenu @bind-Visible="showMenu"
           DynamicListItems="menuItems"
           ActivatorAttributes="menuActivatorAttributes">
</MultiSizeMenu>
