@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<MCard Class="pa-4"
       Elevation="0"
       Rounded="@("lg")">
    <MListItem Dense="true">
        <MListItemContent Class="font-weight-bold">
            @(I18n.T("Statistics"))
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            @(I18n.T("Diary count")): @(DiaryCount)
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            @(I18n.T("Word count")): @(WordCount)
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            @(I18n.T("Active days")): @(ActiveDayCount)
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            <span>
                @(I18n.T("Most weather")):
                <MIcon Class="mx-1" Size="20">
                    @(MostWeatherIcon)
                </MIcon>
                @(MostWeatherText)
            </span>
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            <span>
                @(I18n.T("Most mood")):
                <MIcon Class="mx-1" Size="20">
                    @(MostMoodIcon)
                </MIcon>
                @(MostMoodText)
            </span>
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            @(I18n.T("Earliest date")): @(EarliestDate)
        </MListItemContent>
    </MListItem>
    <MListItem Dense="true">
        <MListItemContent>
            @(I18n.T("Last date")): @(LastDate)
        </MListItemContent>
    </MListItem>
</MCard>
