@page "/mine"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar>
    <MToolbarTitle Class="font-weight-bold">
        @(I18n.T("Mine.Mine"))
    </MToolbarTitle>
    <MSpacer></MSpacer>
    <MultiSearch OnSearch="Search"></MultiSearch>
</MyAppBar>

<ScrollContainer @ref="scrollContainer">
    <div class="mine-user-info mb-5">
        <MCard Class="d-flex align-center elevation-sm-2--active"
               Elevation="0"
               Rounded="@("lg")"
               Ripple="false"
               OnClick="@(()=>To("user"))">
            <MList Style="width:100%;">
                <MListItem ThreeLine>
                    <MListItemAvatar Class="ml-sm-2 ml-md-4 mr-md-6"
                                     Rounded="@("lg")"
                                     Size="70">
                        <img class="user-avatar" src="@(avatar)" @onclick="()=>showPreviewImage=true" @onclick:stopPropagation="true" />
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle Class="text-h6 font-weight-bold">
                            @(userName ?? I18n.T("AppName"))
                        </MListItemTitle>
                        <MListItemSubtitle>
                            @(sign ?? I18n.T("Mine.Sign"))
                        </MListItemSubtitle>
                    </MListItemContent>
                    <MListItemAction Style="align-self:unset;">
                        <MIcon>mdi-chevron-right</MIcon>
                    </MListItemAction>
                </MListItem>
            </MList>
        </MCard>

        <MCard Elevation="0"
               Rounded="@("lg")">
            <MList>
                <MListItem>
                    <MListItemContent Class="text-center"
                                      Style="display: grid;grid-template-columns: repeat(3, 1fr);">
                        <div>
                            <MListItemSubtitle>
                                @(I18n.T("Statistics.DiaryCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @diaryCount
                            </MListItemTitle>
                        </div>
                        <div>
                            <MListItemSubtitle>
                                @(I18n.T("Statistics.WordCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @wordCount
                            </MListItemTitle>
                        </div>
                        <div>
                            <MListItemSubtitle>
                                @(I18n.T("Statistics.ActiveDayCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @activeDayCount
                            </MListItemTitle>
                        </div>
                    </MListItemContent>
                </MListItem>
                <MListItem>
                    <MListItemContent Class="text-center"
                                      Style="display: grid;grid-template-columns: repeat(3, 1fr);">
                        <div>
                            <MListItemSubtitle>
                                @(I18n.T("Statistics.ImageCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @imageCount
                            </MListItemTitle>
                        </div>
                        <div>
                            <MListItemSubtitle>
                                @(I18n.T("Statistics.AudioCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @audioCount
                            </MListItemTitle>
                        </div>
                        <div>
                            <MListItemSubtitle>
                                @(I18n.T("Statistics.VideoCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @videoCount
                            </MListItemTitle>
                        </div>
                    </MListItemContent>
                </MListItem>
            </MList>
        </MCard>
    </div>

    <MultiDisplay>
        <DesktopContent>
            @foreach (var list in ViewLists)
            {
                <div class="text-h6 setting-title">
                    @(I18n.T(list.Key))
                </div>

                <MCard @key="list"
                       Class="list-item-card"
                       Elevation="0"
                       Rounded="@("lg")">
                    <MList Class="dynamic-list-item-collection">
                        @foreach (var item in list.Value)
                        {
                            @if (item.Show)
                            {
                                <MListItem @key="item"
                                           OnClick="item.OnClick">
                                    <MListItemIcon>
                                        <MIcon Class="evident-icon">
                                            @(item.Icon)
                                        </MIcon>
                                    </MListItemIcon>
                                    <MListItemContent>
                                        @(I18n.T(item.Text))
                                    </MListItemContent>
                                    <MListItemAction>
                                        <MIcon>mdi-chevron-right</MIcon>
                                    </MListItemAction>
                                </MListItem>

                                <MDivider Class="mx-3"></MDivider>
                            }
                        }

                    </MList>
                </MCard>
            }
        </DesktopContent>
        <MobileContent>
            <div style="display: grid;grid-template-columns: repeat(2, 1fr);gap: 14px;">
                @foreach (var list in ViewLists)
                {
                    @foreach (var item in list.Value)
                    {
                        @if (item.Show)
                        {
                            <MCard @key="item"
                                   Elevation="0"
                                   Rounded="@("lg")">
                                <MListItem OnClick="item.OnClick">
                                    <MListItemIcon>
                                        <MIcon Class="evident-icon">
                                            @(item.Icon)
                                        </MIcon>
                                    </MListItemIcon>
                                    <MListItemContent>
                                        @(I18n.T(item.Text))
                                    </MListItemContent>
                                </MListItem>
                            </MCard>
                        }
                    }
                }
            </div>
        </MobileContent>
    </MultiDisplay>

</ScrollContainer>

<RadioDialog @bind-Value="language"
             @bind-Visible="showLanguage"
             Title="@(I18n.T("Mine.SelectLanguage"))"
             OnChange="LanguageChanged"
             TItem="KeyValuePair<string,string>"
             TItemValue="string"
             Items="I18n.Languages">
</RadioDialog>

<RadioDialog @bind-Value="theme"
             @bind-Visible="showTheme"
             Title="@(I18n.T("Mine.Night"))"
             OnChange="ThemeChanged"
             TItem="KeyValuePair<string,Shared.Theme>"
             TItemValue="Shared.Theme"
             Items="themeItems">
</RadioDialog>

<MultiListDialog @bind-Visible="showFeedback"
                 Title="@(I18n.T("Mine.ContactWay"))"
                 DynamicListItems="FeedbackTypes">
</MultiListDialog>

<PreviewImageDialog @bind-Visible="showPreviewImage"
                    Src="@avatar">
</PreviewImageDialog>

@if (!hidePrivacyModeEntrance || privacyMode)
{
    <InputDialog @bind-Visible="showprivacyModeEntrancePasswordDialog"
                 Title="@(I18n.T("PrivacyMode.ValidatePassword"))"
                 Placeholder="@(I18n.T("Please input a password"))"
                 MaxLength="20"
                 Password="true"
                 OnOK="InputPassword"
                 OKText="@(I18n.T("Share.OK"))">
    </InputDialog>
}
