@page "/log"
@namespace SwashbucklerDiary.Pages
@inherits PageComponentBase

<MAppBar App="true"
         Elevation="0">
    <MButton Icon="true"
             OnClick="NavigateToBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MySearch @bind-Value="ShowSearch"
    @bind-Search="Search"
              Title="@(I18n.T("About.LogFile.Name"))"
              OnChanged="UpdateLogsAsync">
    </MySearch>

    <MButton Icon="true"
             OnClick="()=>ShowSearch=!ShowSearch">
        <MIcon>
            mdi-magnify
        </MIcon>
    </MButton>

    <MButton Icon="true"
             OnClick="()=>ShowFilter=!ShowFilter">
        <MIcon>
            @(IsDateFiltered ? "mdi-filter-check-outline" : "mdi-filter-outline")
        </MIcon>
    </MButton>

    <MultiMenu @bind-Value="ShowMenu"
               ListItemModels="ListItemModels">
        <ButtonContent>
            <MultiDisplay>
                <DesktopContent>
                    <MIcon>mdi-dots-horizontal</MIcon>
                </DesktopContent>
                <MobileContent>
                    <MIcon>mdi-dots-vertical</MIcon>
                </MobileContent>
            </MultiDisplay>
        </ButtonContent>
    </MultiMenu>
</MAppBar>

<ScrollContainer>
    <div class="px-4 text-subtitle-1 user-select" style="word-wrap:break-word;">
        @foreach (var item in Logs)
        {
            <div class="mb-4 font-weight-bold">
                <span>@item.Timestamp</span>
                <span>@($"[{item.Level}]")</span>
            </div>
            <div class="mb-10">
                @item.RenderedMessage
            </div>
        }
    </div>

    <NotFound Show="!Logs.Any()"
              Text="@(IsSearchFiltered ? null:I18n.T("Log.NoLog"))">
    </NotFound>
    
</ScrollContainer>

<DateFilterDialog @bind-Value="ShowFilter"
@bind-Form="DateFilterForm"
                  OnOK="UpdateLogsAsync"
                  OnReset="UpdateLogsAsync">
</DateFilterDialog>

<DeleteDialog @bind-Value="ShowDelete"
              Title="@(I18n.T("Log.Delete.Title"))"
              Content="@(I18n.T("Log.Delete.Content"))"
              OnOK="HandleDelete">
</DeleteDialog>

<ShareDialog @bind-Value="ShowShare"
             Items="ShareItems">
</ShareDialog>