@page "/"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits DiariesPageComponentBase

<MyAppBar>
    <MTabs @bind-Value="tab"
           ActiveClass="text-h6 font-weight-bold"
           HideSlider>
        <MTab Class="my-tab"
              Ripple="false">
            @(I18n.T("Index.All"))
        </MTab>
        <MTab Class="my-tab"
              Ripple="false">
            @(I18n.T("Index.Tag"))
        </MTab>
    </MTabs>

    <MSpacer></MSpacer>

    <MultiSearch OnSearch="Search"></MultiSearch>
</MyAppBar>


<SwiperTabItems @bind-Value="tab">
    <SwiperTabItem @ref="swiperTabItem">
        <div class="pl-2">
            @if (showDate)
            {
                <div class="text--secondary mb-2">
                    @(DateTime.Now.ToString("yyyy/MM/dd") + " " + I18n.ToWeek())
                </div>
            }

            @if (showWelcomeText)
            {
                <div class="text-h6 mb-5">
                    @GetWelcomeText()
                </div>
            }

        </div>

        <DiaryCardList @bind-Tags="Tags"
                       Value="Diaries">
        </DiaryCardList>
    </SwiperTabItem>
    <SwiperTabItem @ref="swiperTabItem2">
        <TagCardList @bind-Value="Tags"
                     Diaries="Diaries">
        </TagCardList>
    </SwiperTabItem>
</SwiperTabItems>

@if (tab == 0)
{
    <RightBottomFloatButton Icon="mdi-pencil"
                            OnClick="@(()=>To("write"))">
    </RightBottomFloatButton>
}

@if (tab == 1)
{
    <RightBottomFloatButton Icon="mdi-plus"
                            OnClick="()=>ShowAddTag=true">
    </RightBottomFloatButton>
}

<InputDialog @bind-Visible="ShowAddTag"
             Title="@(I18n.T("Tag.Add"))"
             Placeholder="@(I18n.T("Tag.Placeholder"))"
             OnOK="SaveAddTag">
</InputDialog>