@page "/read"
@inherits ImportantComponentBase

<MyAppBar>
    <MButton Icon="true"
             OnClick="NavigateToBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MSpacer></MSpacer>
    <MButton Icon="true"
             OnClick="()=>showShare=true">
        <MIcon>
            mdi-share-variant-outline
        </MIcon>
    </MButton>
    <MButton Icon="true"
             OnClick="OpenDeleteDialog">
        <MIcon>
            mdi-delete-outline
        </MIcon>
    </MButton>
    <MButton Icon="true"
             OnClick="OnEdit">
        <MIcon>
            mdi-pencil
        </MIcon>
    </MButton>

    <MultiMenu @bind-Visible="showMenu"
               DynamicListItems="menuItems">
        <ActivatorContent>
            <MButton @attributes="@context.Attrs"
                     Icon="true">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>
    </MultiMenu>
</MyAppBar>

<ScrollContainer>
    <div id="screenshot" class="primary-background">
        <div class="px-3 d-flex align-end">
            <span class="text-h6 font-weight-bold">
                @(diary.CreateTime.ToString("yyyy/MM/dd"))
            </span>
            <span class="pl-5 text-subtitle-1">
                @(I18n.ToWeek(diary.CreateTime))
            </span>
            <MSpacer></MSpacer>
            <span class="text-subtitle-1">
                @(CounterValue())
            </span>
        </div>
        <div class="px-2">
            @if (ShowWeather)
            {
                <MChip Class="my-2 mr-2"
                       Outlined="true">
                    <MIcon Left="true">
                        @(GetWeatherIcon())
                    </MIcon>
                    @(I18n.T("Weather." + diary.Weather))
                </MChip>
            }

            @if (ShowMood)
            {
                <MChip Class="my-2 mr-2"
                       Outlined="true">
                    <MIcon Left="true">
                        @(GetMoodIcon())
                    </MIcon>
                    @(I18n.T("Mood." + diary.Mood))
                </MChip>
            }

            @if (ShowLocation)
            {
                <MChip Class="my-2 mr-2"
                       Outlined="true">
                    <MIcon Left="true">
                        mdi-map-marker-outline
                    </MIcon>
                    @(diary.Location)
                </MChip>
            }
        </div>

        @if (ShowTitle)
        {
            <MTextField Value="@(diary.Title)"
                        Class="pb-0 my-sm-4 user-select font-weight-bold"
                        Solo="true"
                        Flat="true"
                        TValue="string"
                        HideDetails="@("auto")"
                        Dense="true"
                        Readonly="true"
                        maxlength="20">
            </MTextField>
        }

        @if (afterRender)
        {
            @if (enableMarkdown)
            {
                <MarkdownPreview Value="@(diary.Content)"
                                 Class="my-sm-4 px-3"
                                 Style="padding-top:10px">
                </MarkdownPreview>
            }
            else
            {
                <MTextarea Value="@(diary.Content)"
                           Class="my-sm-4 user-select"
                           Solo="true"
                           Flat="true"
                           HideDetails="@("auto")"
                           Readonly="true"
                           AutoGrow="true"
                           Rows="8"
                           RowHeight="30">
                </MTextarea>
            }
        }
        
        <div class="mb-5">
            <MChipGroup Column="true">
                @foreach (var item in Tags)
                {
                    <MChip Outlined="true">
                        @(item.Name)
                    </MChip>
                }
            </MChipGroup>
        </div>
    </div>
</ScrollContainer>

<MultiListDialog @bind-Visible="showShare"
                 Title="@(I18n.T("Share.SelectShare"))"
                 DynamicListItems="shareItems">
</MultiListDialog>

<DeleteDialog @bind-Visible="showDelete"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="HandleDelete">
</DeleteDialog>

<ExportDialog @bind-Visible="showExport"
              Value="exportDiaries">
</ExportDialog>