@namespace SwashbucklerDiary.Rcl.Components

<div id="@Id"
     class="my-scroll-container @(Class)"
     style="@(Style)">
    <MContainer Class="@("my-container "+ ContentClass)"
                Style="@ContentStyle"
                Fluid="true">
        <CascadingValue Value="@Id"
                        Name="ScrollElementId"
                        IsFixed="true">
            @ChildContent
        </CascadingValue>
    </MContainer>
</div>
