@namespace SwashbucklerDiary.Rcl.Components
@inherits DialogComponentBase

<MultiDisplay OnUpdate="UpdateDisplay">
    <MobileContent>
        <MBottomSheetExtension MyValue="Visible"
                               MyValueChanged="InternalVisibleChanged"
                               ContentClass="rounded-t-lg"
                               Eager="true">
            <ActivatorContent>
                @(ActivatorContent(context))
            </ActivatorContent>
            <ChildContent>
                <MCard Class="rounded-t-lg py-2">
                    <MList>
                        <div @onclick="HandleOnCancel">
                            @foreach (var item in DynamicListItems)
                            {
                                @if (item.Show)
                                {
                                    <MListItem OnClick="item.OnClick">
                                        <MListItemIcon>
                                            <MIcon>
                                                @(item.Icon)
                                            </MIcon>
                                        </MListItemIcon>
                                        <MListItemContent>
                                            @(I18n.T(item.Text))
                                        </MListItemContent>
                                    </MListItem>
                                    if (DynamicListItems.Last(it => it.Show) != item)
                                    {
                                        <MDivider></MDivider>
                                    }
                                }
                            }
                        </div>
                        <MListItem>
                            <MButton Class="text-subtitle-1"
                                     Rounded="true"
                                     Block="true"
                                     Depressed="true"
                                     Large="true"
                                     OnClick="HandleOnCancel">
                                @(I18n.T("Share.Cancel"))
                            </MButton>
                        </MListItem>
                    </MList>
                </MCard>
            </ChildContent>
        </MBottomSheetExtension>
    </MobileContent>
    <DesktopContent>
        <MMenuExtension MyValue="Visible"
                        MyValueChanged="InternalVisibleChanged"
                        Rounded="@("lg")"
                        Bottom="true"
                        Right="true"
                        Eager="true"
                        Transition="scroll-x-reverse-transition">
            <ActivatorContent>
                @(ActivatorContent(context))
            </ActivatorContent>
            <ChildContent>
                <MList MinWidth="150">
                    @foreach (var item in DynamicListItems)
                    {
                        @if (item.Show)
                        {
                            <MListItem Dense="true"
                                       OnClick="item.OnClick">
                                <MListItemContent>
                                    @(I18n.T(item.Text))
                                </MListItemContent>
                            </MListItem>
                        }
                    }
                </MList>
            </ChildContent>
        </MMenuExtension>
    </DesktopContent>
</MultiDisplay>