@namespace SwashbucklerDiary.Rcl.Components
@inherits DialogComponentBase

<MultiSizeDisplay OnUpdate="UpdateDisplay">
    <MobileContent>
        <CustomMBottomSheet @ref="mBottomSheetExtension"
                            MyValue="Visible"
                            MyValueChanged="InternalVisibleChanged"
                            ContentClass="rounded-t-lg">
            <ActivatorContent>
                @ComputedActivatorContent
            </ActivatorContent>
            <ChildContent>
                <MCard Class="surface rounded-t-lg">
                    <div class="multi-menu-moblie-container">
                        @foreach (var item in DynamicListItems)
                        {
                            @if (item.Show)
                            {
                                <div class="menu-item">
                                    <div class="content-container"
                                         @onclick="item.OnClick">
                                        <MButton Class="surface-container mb-2"
                                                 Width="56"
                                                 Height="56"
                                                 Icon="true">
                                            <MIcon>@(item.Icon)</MIcon>
                                        </MButton>
                                        <div class="title-container text-caption" style="width:100%;">
                                            <wc-auto-scroll-text class="justify-center">
                                                @(I18n.T(item.Text))
                                            </wc-auto-scroll-text>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </MCard>
            </ChildContent>
        </CustomMBottomSheet>
    </MobileContent>
    <DesktopContent>
        <MMenu @ref="mMenu"
               Value="Visible"
               ValueChanged="InternalVisibleChanged"
               ContentStyle="width:max-content;"
               Rounded="@("lg")"
               Bottom="true"
               Right="true"
               OffsetX="MenuOffsetX"
               NudgeBottom="@MenuNudgeBottom"
               NudgeLeft="@MenuNudgeLeft"
               MaxWidth="200"
               MinWidth="150"
               Transition="scroll-x-reverse-transition">
            <ActivatorContent>
                @ComputedActivatorContent
            </ActivatorContent>
            <ChildContent>
                <MList>
                    @foreach (var item in DynamicListItems)
                    {
                        @if (item.Show)
                        {
                            <MListItem @key="item"
                                       Dense="true"
                                       OnClick="item.OnClick">
                                <MListItemIcon Class="mr-3">
                                    <MIcon Size="20">
                                        @(item.Icon)
                                    </MIcon>
                                </MListItemIcon>
                                <MListItemContent Class="text-subtitle-2">
                                    <wc-auto-scroll-text style="max-width:200px;">@(I18n.T(item.Text))</wc-auto-scroll-text>
                                </MListItemContent>
                            </MListItem>
                        }
                    }
                </MList>
            </ChildContent>
        </MMenu>
    </DesktopContent>
</MultiSizeDisplay>