@namespace SwashbucklerDiary.Rcl.Components

<div id="@Id"
     class="@InternalClass"
     style="@(Style)">
    <MContainer Class="@InternalContentClass"
                Style="@ContentStyle"
                Fluid="true">
        <CascadingValue Value="@Id"
                        Name="ScrollElementId"
                        IsFixed="true">
            @ChildContent
        </CascadingValue>
    </MContainer>
</div>
