@inherits MyComponentBase

<div class="d-flex justify-space-between flex-wrap @(Class)">
    @foreach (var item in Value)
    {
        <DiaryCard Value="item"
               Class="@($"diary-card {CardClass}")"
               OnTag="()=>HandleTag(item)"
               OnCopy="()=>HandleCopy(item)"
               OnDelete="()=>OpenDeleteDialog(item)"
               OnTopping="()=>HandleTopping(item)"
               OnExport="()=>OpenExportDialog(item)"
               OnClick="()=>HandleClick(item.Id)">
        </DiaryCard>
    }
</div>

@if (!Value.Any())
{
    <div class="d-flex justify-center" style="padding-top:20vh;">
        <div class="text-h6 text--secondary font-weight-bold-table">
            @(I18n.T("Diary.NoDiary"))
        </div>
    </div>
}

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            OnSave="SaveSelectTags">
</SelectTags>

<DeleteDialog @bind-Value="ShowDeleteDiary"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="()=>HandleDelete(SelectDiary)">
</DeleteDialog>

<ExportDialog @bind-Value="ShowExport" Diaries="ExportDiaries">
</ExportDialog>