@inherits MyComponentBase

<div class="d-flex justify-space-between flex-wrap @(Class)">
    @foreach (var item in Value!)
    {
        if (item.Top)
        {
            <DiaryCard Value="item"
               Class="@($"diary-card {CardClass}")"
               OnTag="()=>OnTag(item)"
               OnCopy="()=>OnCopy(item)"
               OnDelete="()=>OpenDeleteDialog(item)"
               OnTopping="()=>OnTopping(item)"
               OnClick="()=>OnClick(item.Id)">
            </DiaryCard>
        }
    }
    @foreach (var item in Value)
    {
        if (!item.Top)
        {
            <DiaryCard Value="item"
               Class="@($"diary-card {CardClass}")"
               OnTag="()=>OnTag(item)"
               OnCopy="()=>OnCopy(item)"
               OnDelete="()=>OpenDeleteDialog(item)"
               OnTopping="()=>OnTopping(item)"
               OnClick="()=>OnClick(item.Id)">
            </DiaryCard>
        }
    }
</div>

@if (!Value.Any())
{
    <div class="d-flex justify-center" style="padding-top:20vh;">
        <div class="text-h6 text--secondary font-weight-bold-table">
            @(I18n.T("Diary.NoDiary"))
        </div>
    </div>
}

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            OnSave="SaveSelectTags">
</SelectTags>

<DeleteDialog @bind-Value="ShowDeleteDiary"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="()=>OnDelete?.Invoke()">

</DeleteDialog>
