@inherits MyComponentBase

<MCard Class="mb-5 tag-card"
       Ripple="false"
       Rounded="@("lg")"
       OnClick="OnClick">
    <MListItem>
        <MListItemIcon>
            <MIcon>
                mdi-label-outline
            </MIcon>
        </MListItemIcon>

        <MListItemContent>
            @(Value!.Name)
        </MListItemContent>

        <MListItemAction>
            <div @onclick:stopPropagation="true">
                <MyMenu @bind-MyValue="ShowMenu"
                       Rounded="@("lg")"
                       Bottom
                       Left
                       Transition="scroll-x-reverse-transition">
                    <ActivatorContent>
                        <MButton Icon
                                 @attributes="@context.Attrs">
                            <MIcon>mdi-pencil</MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MList MinWidth="150">
                            <MListItem Dense
                                       OnClick="OnRename">
                                <MListItemContent>
                                    @(I18n.T("Share.Rename"))
                                </MListItemContent>
                            </MListItem>
                            <MListItem Dense
                                       OnClick="OnDelete">
                                <MListItemContent>
                                    @(I18n.T("Share.Delete"))
                                </MListItemContent>
                            </MListItem>
                        </MList>
                    </ChildContent>
                </MyMenu>
            </div>
        </MListItemAction>
    </MListItem>
</MCard>
