@page "/"
@inherits DiariesPageComponentBase

<link href="css/extend/masa-blazor-extend-enqueued-snackbars.css" rel="stylesheet" />

<MAppBar App
         Elevation="0">
    <MTabs @bind-Value="tab"
           ActiveClass="text-h6 font-weight-bold"
           HideSlider>
        <MTab Class="my-tab"
              Ripple="false">
            @(I18n.T("Index.All"))
        </MTab>
        <MTab Class="my-tab"
              Ripple="false">
            @(I18n.T("Index.Tag"))
        </MTab>
    </MTabs>
    <MSpacer></MSpacer>
    <MButton Large Icon OnClick="@(()=>To("/search"))">
        <MIcon>mdi-magnify</MIcon>
    </MButton>
</MAppBar>

<SwiperTabItems @bind-Value="tab">
    <SwiperTabItem>
        <div class="mb-5 pl-2">
            <div class="text--secondary mb-2">
                @(DateTime.Now.ToString("yyyy/MM/dd") + " " + I18n.ToWeek())
            </div>

            @if (ShowWelcomeText)
            {
                <div class="text-h6">
                    @GetWelcomeText()
                </div>
            }
            
        </div>

        <DiaryCardList Value="Diaries" @bind-Tags="Tags"></DiaryCardList>
    </SwiperTabItem>
    <SwiperTabItem>
        <TagCardList @bind-Value="Tags"></TagCardList>
    </SwiperTabItem>
</SwiperTabItems>

@if (tab == 0)
{
    <FabTransition>
        <MButton Class="my-btn-fab elevation-2"
             Bottom
             Right
             Fixed
             OnClick="@(()=>To("/write"))"
             Fab>
            <MIcon>
                mdi-pencil
            </MIcon>
        </MButton>
    </FabTransition>
}

@if (tab == 1)
{
    <FabTransition>
        <MButton Class="my-btn-fab elevation-2"
             Bottom
             Right
             Fixed
             OnClick="()=>ShowAddTag=true"
             Fab>
            <MIcon>
                mdi-plus
            </MIcon>
        </MButton>
    </FabTransition>
}

<InputDialog @bind-Value="ShowAddTag"
             Title="@(I18n.T("Tag.Add"))"
             Placeholder="@(I18n.T("Tag.Placeholder"))"
             OnOK="SaveAddTag">
</InputDialog>