@page "/location"
@inherits PageComponentBase

<MyAppBar Title="@(I18n.T("Setting.Location.Location"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    @if (Locations.Any())
    {
        <MCard Ripple="false"
           Rounded="@("lg")">
            <MList>
                @foreach (var item in Locations)
                {
                    <LocationListItem Value="item"
                              OnRename="()=>RenameLocation(item)"
                              OnDelete="()=>DeleteLocation(item)">
                    </LocationListItem>
                    if (Locations.Last() != item)
                    {
                        <MDivider Class="mx-3 mx-sm-0"></MDivider>
                    }
                }
            </MList>
        </MCard>
    }

    @if (!Locations.Any())
    {
        <div class="d-flex justify-center" style="padding-top:20vh;">
            <div class="text-h6 text--secondary font-weight-bold-table">
                @(I18n.T("Location.NoLocation"))
            </div>
        </div>
    }
</ScrollContainer>

<FabTransition>
    <MButton Color="black"
             Class="mb-15 mb-sm-0"
             Dark
             Bottom
             Right
             Fixed
             OnClick="()=>ShowAdd=true"
             Fab>
        <MIcon>
            mdi-plus
        </MIcon>
    </MButton>
</FabTransition>

<InputDialog @bind-Value="ShowAdd"
             Title="@(I18n.T("Location.Add"))"
             Placeholder="@(I18n.T("Location.Placeholder"))"
             OnOK="SaveAdd">
</InputDialog>

<InputDialog @bind-Value="ShowRename"
             @bind-Text="@(SelectLocation.Name)"
             Title="@(I18n.T("Location.Rename"))"
             Placeholder="@(I18n.T("Location.Placeholder"))"
             OnOK="SaveRename">
</InputDialog>

<DeleteDialog @bind-Value="ShowDelete"
              Title="@(I18n.T("Location.Delete.Title"))"
              Content="@(I18n.T("Location.Delete.Content"))"
              OnOK="()=>OnDelete?.Invoke()">
</DeleteDialog>