@page "/mine"
@inherits PageComponentBase

<MAppBar App
         Elevation="0"
         Color="white">
    <MToolbarTitle Class="font-weight-bold">
        @(I18n.T("Mine.MySpace"))
    </MToolbarTitle>
    <MSpacer></MSpacer>
    <MButton Large Icon OnClick="NavigateToSearch">
        <MIcon>mdi-magnify</MIcon>
    </MButton>
</MAppBar>

<ScrollContainer Bottom>
    <div class="d-md-flex flex-md-row justify-space-between">
        <MCard Class="mine-info mb-5 py-sm-3"
               Elevation="4"
               Rounded="@("lg")"
               Ripple="false"
               OnClick="NavigateToUser">
            <MList>
                <MListItem ThreeLine>
                    <MListItemAvatar Class="ml-md-2" Rounded="@("lg")" Size="70">
                        <MImage Src="@(Avatar)"></MImage>
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle Class="text-h6 font-weight-bold">
                            @(UserName ?? I18n.T("AppName"))
                        </MListItemTitle>
                        <MListItemSubtitle>
                            @(Sign ?? I18n.T("Mine.Sign"))
                        </MListItemSubtitle>
                    </MListItemContent>
                    <MListItemAction Style="align-self:unset;">
                        <MIcon>mdi-chevron-right</MIcon>
                    </MListItemAction>
                </MListItem>
            </MList>
        </MCard>

        <MCard Class="mine-info mb-5 ml-md-5 d-flex"
               Elevation="4"
               Rounded="@("lg")">
            <MList Class="d-flex flex-grow-1">
                <MListItem>
                    <MListItemContent Class="justify-space-around text-center">
                        <div style="flex:unset">
                            <MListItemSubtitle>
                                @(I18n.T("Mine.DiaryCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @DiaryCount
                            </MListItemTitle>
                        </div>
                        <div style="flex:unset">
                            <MListItemSubtitle>
                                @(I18n.T("Mine.WordCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @WordCount
                            </MListItemTitle>
                        </div>
                        <div style="flex:unset">
                            <MListItemSubtitle>
                                @(I18n.T("Mine.ActiveDayCount"))
                            </MListItemSubtitle>
                            <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                                @ActiveDayCount
                            </MListItemTitle>
                        </div>
                    </MListItemContent>
                </MListItem>
            </MList>
        </MCard>
    </div>

    @foreach (var list in ViewLists)
    {
        <div class="text-h6 mine-title">
            @(I18n.T(list.Key))
        </div>

        <MCard Class="mine-card"
           Elevation="4"
           Rounded="@("lg")">
            <MList>
                @foreach (var item in list.Value)
                {
                    <MListItem OnClick="@(item.Action)">
                        <MListItemIcon>
                            <MIcon Class="list-item-icon">
                                @(item.Icon)
                            </MIcon>
                        </MListItemIcon>
                        <MListItemContent>
                            @(I18n.T(item.Text))
                        </MListItemContent>
                        <MListItemAction>
                            <MIcon>mdi-chevron-right</MIcon>
                        </MListItemAction>
                    </MListItem>

                    if(list.Value.Last() != item)
                    {
                        <MDivider Class="mx-3 mx-sm-0"></MDivider>
                    }
                }

            </MList>
        </MCard>
    }

</ScrollContainer>

<MyDialog MaxWidth="420"
          @bind-MyValue="ShowLanguage">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Mine.SelectLanguage"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowLanguage= false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            <MRadioGroup Value="Language"
                         TValue="string"
                         ValueChanged="LanguageChanged"
                         Class="mt-0 pb-1"
                         HideDetails="@("auto")"
                         Mandatory>
                @foreach (var item in Languages)
                {
                    <MRadio Label="@(item.Key)"
                        Class="my-2"
                        Value="@(item.Value)">
                    </MRadio>
                }
            </MRadioGroup>
        </MCardText>
    </MCard>
</MyDialog>

<MyDialog MaxWidth="420"
          @bind-MyValue="ShowFeedback">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Mine.ContactWay"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowFeedback=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            @foreach (var item in FeedbackTypes)
            {
                <MListItem Class="px-0" OnClick="@(item.Action)">
                    <MListItemIcon>
                        <MIcon Class="list-item-icon">
                            @(item.Icon)
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>
                            @(item.Text)
                        </MListItemTitle>
                    </MListItemContent>
                </MListItem>
            }
        </MCardText>
    </MCard>
</MyDialog>