@page "/read/{id:guid}"
@inherits PageComponentBase

<MAppBar App
         ElevateOnScroll
         Color="white"
         ScrollTarget="#scrolling-read">
    <MButton Icon OnClick="NavigateToBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MSpacer></MSpacer>
    <MButton Icon
             OnClick="()=>ShowShare=true">
        <MIcon>
            mdi-share-variant-outline
        </MIcon>
    </MButton>
    <MButton Icon
             OnClick="OpenDeleteDialog">
        <MIcon>
            mdi-delete-outline
        </MIcon>
    </MButton>
    <MButton Icon
             OnClick="OnEdit">
        <MIcon>
            mdi-pencil
        </MIcon>
    </MButton>

    <MyMenu @bind-MyValue="ShowMenu"
            Rounded="@("lg")"
            Transition="scroll-x-reverse-transition">
        <ActivatorContent>
            <MButton Icon
                     @attributes="@context.Attrs">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList MinWidth="150">
                <MListItem Dense
                           OnClick="OnCopy">
                    <MListItemContent>
                        @(I18n.T("Share.Copy"))
                    </MListItemContent>
                </MListItem>
                <MListItem Dense
                           OnClick="()=>OnTopping(Diary)">
                    <MListItemContent>
                        @(IsTop ? I18n.T("Diary.CancelTop") : I18n.T("Diary.Top"))
                    </MListItemContent>
                </MListItem>
                <MListItem Dense>
                    <MListItemContent>
                        @(I18n.T("Diary.Export"))
                    </MListItemContent>
                </MListItem>
                <MListItem Dense OnClick="MarkdownChanged">
                    <MListItemContent>
                        @(Markdown ? I18n.T("Diary.Text") : I18n.T("Diary.Markdown"))
                    </MListItemContent>
                </MListItem>
                @if (Private)
                {
                    <MListItem Dense OnClick="DiaryPrivacyChanged">
                        <MListItemContent>
                        @(IsPrivate ? I18n.T("Read.ClosePrivacy") : I18n.T("Read.OpenPrivacy"))
                        </MListItemContent>
                    </MListItem>
                }
            </MList>
        </ChildContent>
    </MyMenu>
</MAppBar>

<ScrollContainer Id="scrolling-read" OnContextmenu="()=>ShowMenu = true">
    <div id="screenshot">
        <div class="px-3 text-h6 font-weight-bold">
            <span>@(Diary.CreateTime.ToString("yyyy/MM/dd"))</span>
            <span class="pl-5 text-subtitle-1">
                @(Diary.CreateTime.ToWeek(I18n))
            </span>
        </div>
        <div class="px-2">
            @if (ShowWeather)
            {
                <MChip Class="my-2 mr-2" Outlined>
                    <MIcon Left>
                        @(GetWeatherIcon(Diary.Weather))
                    </MIcon>
                    @(I18n.T("Weather." + Diary.Weather))
                </MChip>
            }

            @if (ShowMood)
            {
                <MChip Class="my-2 mr-2" Outlined>
                    <MIcon Left>
                        @(GetMoodIcon(Diary.Mood))
                    </MIcon>
                    @(I18n.T("Mood." + Diary.Mood))
                </MChip>
            }

            @if (ShowLocation)
            {
                <MChip Class="my-2 mr-2" Outlined>
                    <MIcon Left>
                        mdi-map-marker-outline
                    </MIcon>
                    @(Diary.Location)
                </MChip>
            }
        </div>

        @if (ShowTitle)
        {
            <MTextField Value="@(Diary.Title)"
                    Class="pb-0 my-sm-4 user-select font-weight-bold"
                    Solo
                    Flat
                    TValue="string"
                    HideDetails="@("auto")"
                    Dense
                    Readonly
                    maxlength="20">
            </MTextField>
        }
        @if (Markdown)
        {
            <MMarkdownIt Source="@(Diary.Content)" Class="my-sm-4 px-3" Style="padding-top:10px">
            </MMarkdownIt>
        }
        else
        {
            <MTextarea Value="@(Diary.Content)"
                   Class="my-sm-4 user-select"
                   Solo
                   Flat
                   HideDetails="@("auto")"
                   Readonly
                   AutoGrow
                   Rows="8"
                   RowHeight="30">
            </MTextarea>
        }

        <div class="mb-5">
            <MChipGroup Column>
                @foreach (var item in Tags)
                {
                    <MChip Outlined>
                        @(item.Name)
                    </MChip>
                }
            </MChipGroup>
        </div>
    </div>
</ScrollContainer>

<MyDialog @bind-MyValue="ShowShare" MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Read.SelectShare"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowShare = false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            <MList>
                <MListItem Class="px-0" OnClick="ShareText">
                    <MListItemIcon>
                        <MIcon Class="list-item-icon">
                            mdi-format-text
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>
                            @(I18n.T("Read.TextShare"))
                        </MListItemTitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Class="px-0" OnClick="ShareImage">
                    <MListItemIcon>
                        <MIcon Class="list-item-icon">
                            mdi-image-outline
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>
                            @(I18n.T("Read.ImageShare"))
                        </MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>
        </MCardText>
    </MCard>
</MyDialog>

<MOverlay Value="showLoading" ZIndex="99">
    <MProgressCircular Indeterminate
                       Size="64"></MProgressCircular>
</MOverlay>

<DeleteDialog @bind-Value="ShowDelete"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="()=>OnDelete?.Invoke()">

</DeleteDialog>