@page "/statistics"
@inherits PageComponentBase

<MyAppBar Title="@(I18n!.T("Mine.Statistics"))"
          OnClick="NavigateToBack">
</MyAppBar>

<MContainer>
    <div class="d-flex flex-wrap justify-space-between">
        <MCard Elevation="4"
               Class="m-2"
               Style="width:49%;"
               Rounded="@("lg")"
               Ripple="false">
            <MList>
                <MListItem>
                    <MListItemAvatar>
                        <MIcon XLarge>
                            mdi-star-outline
                        </MIcon>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle Class="mb-4 font-weight-bold">
                            记忆的开始
                        </MListItemTitle>

                        <MListItemSubtitle Class="mb-4">
                            第一次记日记
                        </MListItemSubtitle>

                        <MProgressLinear Value="50" Rounded Color="grey" Height="20">
                            <strong>@("0/100")</strong>
                        </MProgressLinear>
                    </MListItemContent>
                    
                </MListItem>
            </MList>
        </MCard>
        <MCard Elevation="4"
               Class="m-2"
               Style="width:49%;"
               Rounded="@("lg")"
               Ripple="false">
            <MList>
                <MListItem>
                    <MListItemAvatar>
                        <MIcon XLarge>
                            mdi-trophy-award
                        </MIcon>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle Class="mb-4 font-weight-bold">
                            记忆的开始
                        </MListItemTitle>

                        <MListItemSubtitle Class="mb-4">
                            第一次记日记
                        </MListItemSubtitle>

                        <MProgressLinear Value="50" Rounded Color="grey" Height="20">
                            <strong>@("0/100")</strong>
                        </MProgressLinear>
                    </MListItemContent>

                </MListItem>
            </MList>
        </MCard>
    </div>
</MContainer>