@page "/statistics"
@inherits PageComponentBase

<MyAppBar Title="@(I18n!.T("Mine.Statistics"))"
          OnClick="NavigateToBack">
</MyAppBar>

<MContainer>
    <div class="d-flex justify-space-between flex-wrap">
        @foreach (var item in Achievements)
        {
            <MCard Elevation="4"
               Class="my-5 achievement-card"
               Rounded="@("lg")"
               Ripple="false">
                <MList>
                    <MListItem>
                        <MListItemAvatar>
                            <MIcon XLarge Color="@StatisticsPage.GetIconColor(item)">
                            @(StatisticsPage.GetIcon(item))
                            </MIcon>
                        </MListItemAvatar>

                        <MListItemContent>
                            <MListItemTitle Class="mb-4 font-weight-bold">
                                @(I18n.T(item.Name))
                            </MListItemTitle>

                            <MListItemSubtitle Class="mb-4">
                                @(I18n.T(item.Description))
                            </MListItemSubtitle>

                            <MProgressLinear Value="StatisticsPage.GetProgressRate(item)"
                                         Color="@(StatisticsPage.GetProgressRateColor(item))"
                                         Rounded
                                         Height="20">
                            <strong class="@StatisticsPage.GetProgressRateTextColor(item)">
                                @(GetProgressRateText(item))
                                </strong>
                            </MProgressLinear>
                        </MListItemContent>
                    </MListItem>
                </MList>
            </MCard>
        }
    </div>
</MContainer>