@page "/write"
@inherits PageComponentBase

<MAppBar App
         Elevation="0">
    <ChildContent>
        <MButton Icon OnClick="OnBack">
            <MIcon>
                mdi-arrow-left
            </MIcon>
        </MButton>

        <MSpacer></MSpacer>

        <MButton Icon
                 OnClick="()=>ShowSelectTag = true">
            <MIcon>
                mdi-label-outline
            </MIcon>
        </MButton>

        <MyMenu @bind-Value="ShowMenu" ViewListItems="ViewListItems">
            <ButtonContent>
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </ButtonContent>
        </MyMenu>
    </ChildContent>
</MAppBar>

<ScrollContainer Class="d-flex" 
                 ContentClass="d-flex flex-column flex-grow-1" 
                 OccupyHeight="OccupyHeight">
    <div>
        <div class="px-3 d-flex align-end">
            <span class="text-h6 font-weight-bold">
                @(Diary.CreateTime.ToString("yyyy/MM/dd"))
            </span>
            <span class="pl-5 text-subtitle-1">
                @(I18n.ToWeek(Diary.CreateTime))
            </span>
            <MSpacer></MSpacer>
            <span class="text-subtitle-1">
                @(CounterValue())
            </span>
        </div>
        <div class="px-2">
            <MChip Class="my-2 mr-2"
                      Outlined
                   OnClick="()=>ShowWeather=true">
                <MIcon Left>
                    @(GetWeatherIcon(Diary.Weather))
                </MIcon>
                @Weather
            </MChip>
            <MChip Class="my-2 mr-2"
                      Outlined
                   OnClick="()=>ShowMood=true">
                <MIcon Left>
                    @(GetMoodIcon(Diary.Mood))
                </MIcon>
                @Mood
            </MChip>
            <MChip Class="my-2 mr-2"
                      Outlined
                   OnClick="()=>ShowLocation=true">
                <MIcon Left>
                    mdi-map-marker-outline
                </MIcon>
                @(string.IsNullOrEmpty(Location) ? I18n.T("Write.Location") : Location)
            </MChip>
        </div>
    </div>
    @if (ShowTitle)
    {
        <MTextField @bind-Value="Diary.Title"
                Class="pb-0 my-sm-4 user-select font-weight-bold"
                Solo="Mobile"
                Flat="Mobile"
                Outlined="Desktop"
                TValue="string"
                HideDetails="@("auto")"
                    Dense
                        spellcheck="false"
                        maxlength="20"
                Placeholder="@(I18n.T("Write.TitlePlace"))">
        </MTextField>
    }

    <div class="write-input-wrap" style="min-height:0;">
        @if (Markdown)
        {
            <MyMarkdown @bind-Value="Diary.Content"
                    WrapClass="write-markdown-wrap"
                    Class="my-sm-4 px-3 write-markdown">
            </MyMarkdown>
        }
        else
        {
            <MTextarea @bind-Value="Diary.Content"
                   Class="@($"my-sm-4 user-select flex-grow-1 flex-column {(Markdown?"d-none":"")}")"
                   Solo="Mobile"
                   Flat="Mobile"
                   Outlined="Desktop"
                   HideDetails="@("auto")"
                          NoResize
                           spellcheck="false"
                   Placeholder="@(I18n.T("Write.ContentPlace"))">
            </MTextarea>
        }
    </div>

    <div class="mb-sm-5">
        <MChipGroup Column>
            @foreach (var item in SelectedTags)
            {
                <MChip Close
                   Outlined
                   OnCloseClick="()=>RemoveSelectedTag(item)">
                @(item.Name)
                </MChip>
            }
        </MChipGroup>
    </div>


    <div class="d-none d-sm-block">
        <MButton Class="px-8"
                  Rounded
                  Dark
                 OnClick="OnSave">
            @(I18n.T("Share.Save"))
        </MButton>
        <MButton Class="px-8"
                  Rounded
                  Outlined
                 OnClick="OnClear">
            @(I18n.T("Share.Clear"))
        </MButton>
    </div>
</ScrollContainer>

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            OnSave="SaveSelectTags">
</SelectTags>

<MyDialog @bind-MyValue="ShowWeather"
          MaxWidth="420"
          Scrollable>
    <MCard Rounded="@("lg")">
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Write.SelectWeather"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowWeather=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
            </MCardTitle>
            <MCardText Class="scroll-show pb-0 mb-5" Style="max-height:200px;">
            <MChipGroup @bind-Value="WeatherIndex" Column>
                @foreach (var item in WeatherIcons)
                {
                    <MChip Filter
                       Outlined
                       OnClick="()=>ShowWeather=false">
                    <MIcon Left>
                        @(item.Value)
                        </MIcon>
                        @(I18n.T("Weather." + item.Key))
                    </MChip>
                }
            </MChipGroup>
        </MCardText>
    </MCard>
</MyDialog>
<MyDialog @bind-MyValue="ShowMood"
          MaxWidth="420"
          Scrollable>
    <MCard Rounded="@("lg")">
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Write.SelectMood"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowMood=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
            </MCardTitle>
            <MCardText Class="scroll-show pb-0 mb-5" Style="max-height:200px;">
            <MChipGroup @bind-Value="MoodIndex" Column>
                @foreach (var item in MoodIcons)
                {
                    <MChip Filter
                       Outlined
                       OnClick="()=>ShowMood=false">
                    <MIcon Left>
                        @(item.Value)
                        </MIcon>
                        @(I18n.T("Mood." + item.Key))
                    </MChip>
                }
            </MChipGroup>
        </MCardText>
    </MCard>
</MyDialog>

<SelectLocation @bind-Value="ShowLocation"
                @bind-Location="Location">
</SelectLocation>