@page "/about"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar Title="@(I18n.T("About"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <MCard Class="mb-5 py-sm-3 pl-4"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem>
                <MListItemAvatar Class="mr-8 hidden-xs-only"
                                 Rounded="@("lg")"
                                 Size="75">
                    <img src="@($"_content/{Essentials.StaticWebAssets.RclAssemblyName}/logo/logo.jpg")" />
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle Class="text-h5 my-2 font-weight-bold">
                        <wc-auto-scroll-text>@(I18n.T("Swashbuckler Diary"))</wc-auto-scroll-text>
                    </MListItemTitle>
                    <MListItemSubtitle Class="mb-2">
                        <wc-auto-scroll-text>version @AppVersion</wc-auto-scroll-text>
                    </MListItemSubtitle>
                    <MListItemSubtitle Class="mb-2">
                        <wc-auto-scroll-text>@(I18n.T("An open source, cross platform local diary application"))</wc-auto-scroll-text>
                    </MListItemSubtitle>
                    @if (PlatformIntegration.CurrentPlatform != AppDevicePlatform.Browser)
                    {
                        <MListItemSubtitle>
                            <a href="https://beian.miit.gov.cn/" target="_blank" class="text--disabled text-decoration-none" style="font-size:0.75rem;">
                                @(I18n.T("App Record number :") + recordNumber)
                            </a>
                            <MButton Class="text--disabled"
                                     IconName="content_copy"
                                     XSmall
                                     OnClick="CopyRecordNumber">
                            </MButton>
                        </MListItemSubtitle>
                    }
                </MListItemContent>
            </MListItem>
        </MList>
    </MCard>

    @foreach (var list in viewLists)
    {
        <MCard @key="list"
               Class="mb-5"
               Elevation="0"
               Rounded="@("lg")">
            <MList Class="py-0">
                @foreach (var item in list)
                {
                    @if (item.Show)
                    {
                        <MListItem @key="item"
                                   OnClick="item.OnClick">
                            <MListItemIcon>
                                <MIcon>
                                    @(item.Icon)
                                </MIcon>
                            </MListItemIcon>
                            <MListItemContent>
                                @(I18n.T(item.Text))
                            </MListItemContent>
                            <MListItemAction>
                                <MIcon>chevron_right</MIcon>
                            </MListItemAction>
                        </MListItem>

                        <MDivider Class="mx-5"></MDivider>
                    }
                }

            </MList>
        </MCard>
    }

</ScrollContainer>

<MultiSizeListDialog @bind-Visible="showSourceCode"
                     Title="@(I18n.T("View source"))"
                     DynamicListItems="codeSourceListItems">
</MultiSizeListDialog>

<UpdateDialog @bind-Visible="showUpdate"
              Value="lastRelease">
</UpdateDialog>
