@page "/about"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar Title="@(I18n.T("Mine.About"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <MCard Class="mb-5 py-sm-3 pl-4"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem>
                <MListItemAvatar Class="mr-8 hidden-xs-only"
                                 Rounded="@("lg")"
                                 Size="75">
                    <img src="@($"_content/{Essentials.StaticWebAssets.RclAssemblyName}/logo/logo.svg")" />
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle Class="text-h5 my-2 font-weight-bold">
                        @(I18n.T("AppName"))
                    </MListItemTitle>
                    <MListItemSubtitle Class="mb-2">
                        version @AppVersion
                    </MListItemSubtitle>
                    <MListItemSubtitle Class="mb-2">
                        @(I18n.T("About.Introduction"))
                    </MListItemSubtitle>
                    <MListItemSubtitle>
                        <a href="https://beian.miit.gov.cn/" target="_blank" class="text--disabled text-decoration-none" style="font-size:0.75rem;">
                            @(I18n.T("About.Record number") + recordNumber)
                        </a>
                        <MButton Class="text--disabled"
                                 IconName="mdi-content-copy"
                                 XSmall
                                 OnClick="CopyRecordNumber">
                        </MButton>
                    </MListItemSubtitle>
                </MListItemContent>
            </MListItem>
        </MList>
    </MCard>

    @foreach (var list in viewLists)
    {
        <MCard @key="list"
               Class="list-item-card"
               Elevation="0"
               Rounded="@("lg")">
            <MList Class="dynamic-list-item-collection">
                @foreach (var item in list)
                {
                    <MListItem @key="item"
                               OnClick="item.OnClick">
                        <MListItemIcon>
                            <MIcon Class="list-item-icon">
                                @(item.Icon)
                            </MIcon>
                        </MListItemIcon>
                        <MListItemContent>
                            @(I18n.T(item.Text))
                        </MListItemContent>
                        <MListItemAction>
                            <MIcon>mdi-chevron-right</MIcon>
                        </MListItemAction>
                    </MListItem>

                    <MDivider Class="mx-3"></MDivider>
                }

            </MList>
        </MCard>
    }

</ScrollContainer>

<MultiListDialog @bind-Visible="showSourceCode"
                 Title="@(I18n.T("About.SourceCode.Name"))"
                 DynamicListItems="codeSourceListItems">
</MultiListDialog>

<UpdateDialog @bind-Visible="showUpdate"></UpdateDialog>
