@page "/log"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar>
    <MButton Icon="true"
             OnClick="NavigateToBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    @if (!showSearch)
    {
        <MToolbarTitle Class="font-weight-bold">
            @(I18n.T("Log file"))
        </MToolbarTitle>
        <MSpacer></MSpacer>
    }

    <VisibleTextField @bind-Visible="showSearch"
                      @bind-Value="search"
                      OnInput="UpdateLogsAsync">
    </VisibleTextField>

    <MButton Icon="true"
             OnClick="()=>showSearch=!showSearch">
        <MIcon>
            mdi-magnify
        </MIcon>
    </MButton>

    <MButton Icon="true"
             OnClick="()=>showFilter=!showFilter">
        <MIcon>
            @(IsDateFiltered ? "mdi-filter-check-outline" : "mdi-filter-outline")
        </MIcon>
    </MButton>

    <MultiMenu @bind-Visible="showMenu"
               DynamicListItems="menuItems">
        <ActivatorContent>
            <MButton @attributes="@context.Attrs"
                     Icon="true">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>
    </MultiMenu>
</MyAppBar>

<ScrollContainer>
    <div class="px-4 text-subtitle-1 user-select" style="word-wrap:break-word;">
        @foreach (var item in logs)
        {
            <div @key="item.Id">
                <div class="mb-4 font-weight-bold">
                    <span>@item.Timestamp</span>
                    <span>[@item.Level]</span>
                </div>
                <div class="mb-10">
                    @item.RenderedMessage
                    <br />
                    @item.Exception
                </div>
            </div>
        }
    </div>

    <EmptyResult Show="!logs.Any()"
                 Text="@(IsSearchFiltered ? null:I18n.T("No logs"))">
    </EmptyResult>

</ScrollContainer>

<DateFilterDialog @bind-Visible="showFilter"
                  @bind-Value="dateFilterForm"
                  OnOK="UpdateLogsAsync"
                  OnReset="UpdateLogsAsync">
</DateFilterDialog>

<DeleteDialog @bind-Visible="showDelete"
              Title="@(I18n.T("Clear logs"))"
              Content="@(I18n.T("Are you sure you want to clear all the logs?"))"
              OnOK="HandleDelete">
</DeleteDialog>

<MultiListDialog @bind-Visible="showShare"
                 Title="@(I18n.T("Choose how to Share"))"
                 DynamicListItems="shareItems">
</MultiListDialog>