@page "/relatedOSP"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar Title="@(I18n.T("Open source related"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <div class="adaptive-card-container">
        @foreach (var item in openSourceProjects)
        {
            <MCard @key="item"
                   Class="py-sm-3"
                   Elevation="0"
                   Rounded="@("lg")"
                   OnClick="()=>OpenBrowser(item.Url)">
                <MList TwoLine="true">
                    <MListItem>
                        <MListItemContent>
                            <MListItemTitle Class="font-weight-bold">
                                @(item.Name)
                            </MListItemTitle>
                            <MListItemSubtitle>
                                @(item.License)
                            </MListItemSubtitle>
                            <MListItemSubtitle>
                                @(item.Url)
                            </MListItemSubtitle>
                        </MListItemContent>
                        <MListItemAction>
                            <MIcon>chevron_right</MIcon>
                        </MListItemAction>
                    </MListItem>
                </MList>
            </MCard>
        }
    </div>
</ScrollContainer>