@namespace SwashbucklerDiary.Rcl.Layout
@inherits MainLayoutNavItemBase

<MTooltip Right>
    <ActivatorContent>
        <MListItem @attributes="@context.Attrs"
                   Class="@Class"
                   Ripple="false"
                   Href="@Value.Href">
            <MListItemIcon>
                <MIcon Class="@IconClass"
                       Size="24">
                    @Value.Icon
                </MIcon>
            </MListItemIcon>
        </MListItem>
    </ActivatorContent>
    <ChildContent>
        <span>@I18n.T(Value.Text)</span>
    </ChildContent>
</MTooltip>


@code {
    private string Class => new CssBuilder()
        .Add("rounded-lg")
        .Add("mb-2")
        .Add("m-list-item--active", Activated)
        .ToString();
}
