@namespace SwashbucklerDiary.Rcl.Components

<VditorMarkdownPreview @ref="vditorMarkdownPreview"
                       Value="@Value"
                       Class="@InternalClass"
                       Style="@Style"
                       OutlineClass="md-preview__outline"
                       Options="_options"
                       Outline="Outline"
                       RightOutline="RightOutline"
                       OnAfter="HandleOnAfter">
</VditorMarkdownPreview>

<PreviewImageDialog @bind-Visible="showPreviewImage"
                    Src="@previewImageSrc">
</PreviewImageDialog>

<CustomMNavigationDrawer MyValue="MobileOutline"
                         MyValueChanged="InternalMobileOutlineChanged"
                         Right="RightOutline"
                         Fixed
                         Temporary
                         Touchless>
    <div style="display: flex;flex-direction: column;height:100%;">
        <MyAppBar>
            <MToolbarTitle Class="font-weight-bold flex-grow-1">
                <wc-auto-scroll-text>@I18n.T("Outline")</wc-auto-scroll-text>
            </MToolbarTitle>
            <MButton Icon="true"
                     OnClick="CloseMobileOutline">
                <MIcon>close</MIcon>
            </MButton>
        </MyAppBar>
        <ScrollContainer ContentClass="pa-0">
            <div @ref="moblieOutlineContainerElement"
                 style="display: block !important;">
            </div>
        </ScrollContainer>
    </div>
</CustomMNavigationDrawer>