@page "/setting"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar Title="@(I18n.T("Setting"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <div class="text-h6 setting-title">
        @(I18n.T("General"))
    </div>

    <MCard Class="my-list-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="@(() => To("permissionSetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        manage_accounts
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("System permission"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-5"></MDivider>

            <MListItem OnClick="@(() => showClearCache = true)">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        mdi:mdi-trash-can-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Clear cache"))
                </MListItemContent>
                <MListItemContent Class="setting-item-state">
                    <MListItemSubtitle>
                        @cacheSize
                    </MListItemSubtitle>
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    <div class="text-h6 setting-title">
        @(I18n.T("Display"))
    </div>

    <MCard Class="my-list-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="@(() => To("indexSetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        home
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Home"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-5"></MDivider>
            <MListItem OnClick="@(() => To("calendarSetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        calendar_month
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Calendar"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    <MCard Class="my-list-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="@(() => To("diarySetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        book
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Diary"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-5"></MDivider>
            <MListItem OnClick="@(() => To("templateSetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        space_dashboard
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Template"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-5"></MDivider>
            <MListItem OnClick="@(() => To("alertSetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        call_to_action
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Snackbars"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-5"></MDivider>
            <MListItem OnClick="@(() => To("diaryCardSetting"))">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        mdi:mdi-card-text-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Diary card"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>chevron_right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-5 hidden-sm-and-down"></MDivider>
            <MListItem Class="hidden-sm-and-down">
                <MListItemIcon>
                    <MIcon Class="evident-icon">
                        show_chart
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Statistics card"))
                </MListItemContent>
                <MListItemAction>
                    <SettingSwitch @bind-Value="showStatisticsCard"
                                   SettingKey="@nameof(Setting.StatisticsCard)">
                    </SettingSwitch>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    @if (PlatformIntegration.CurrentPlatform != AppDevicePlatform.Browser)
    {
        <div class="text-h6 setting-title">
            @(I18n.T("Other"))
        </div>

        <MCard Class="my-list-card"
               Elevation="0"
               Rounded="@("lg")">
            <MList>
                <MListItem OnClick="@(() => To("urlScheme"))">
                    <MListItemIcon>
                        <MIcon Class="evident-icon">
                            mdi:mdi-link-variant
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        Url Scheme
                    </MListItemContent>
                    <MListItemAction>
                        <MIcon>chevron_right</MIcon>
                    </MListItemAction>
                </MListItem>
            </MList>
        </MCard>
    }

</ScrollContainer>

<CustomMDialog @bind-MyValue="showClearCache"
               ContentClass="rounded-lg"
               MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Clear cache"))
        </MCardTitle>
        <MCardText Class="pb-0">
            @(I18n.T("Are you sure to clear all caches?"))
        </MCardText>
        <MCardActions>
            <MSpacer></MSpacer>
            <MButton Text="true"
                     OnClick="() => showClearCache = false">
                @(I18n.T("Cancel"))
            </MButton>
            <MButton Text="true"
                     Color="red"
                     OnClick="ClearCache">
                @(I18n.T("OK"))
            </MButton>
        </MCardActions>
    </MCard>
</CustomMDialog>
