@page "/about"
@inherits PageComponentBase

<MAppBar App
         Color="white"
         Elevation="0">
    <MButton Icon OnClick="NavigateToBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MAppBarTitle Class="font-weight-bold">
        @(I18n!.T("Mine.About"))
    </MAppBarTitle>

    <MSpacer></MSpacer>
</MAppBar>

<MContainer>
    <MCard Class="mb-5 py-sm-3"
           Elevation="4"
           Rounded="@("lg")">
        <MList>
            <MListItem>
                <MListItemAvatar Rounded="@("lg")" Size="75">
                    <MImage Src="./logo/logo.svg"></MImage>
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle Class="text-h6 font-weight-bold">
                        @(I18n!.T("AppName"))
                    </MListItemTitle>
                    <MListItemSubtitle>
                        version @(SystemService.GetAppVersion())
                    </MListItemSubtitle>
                </MListItemContent>
            </MListItem>
        </MList>
    </MCard>
    <MCard Class="mb-5"
           Elevation="4"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="()=>ShowSourceCode=true">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-book-open-page-variant-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.SourceCode"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem OnClick="NavigateToUserAgreement">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-file-document-multiple-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.Agreement"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem OnClick="NavigateToPrivacyPolicy">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-lock-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.Privacy"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem OnClick="ToDo">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-update
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.UpdateRecords"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    <MCard Class="mb-5"
           Elevation="4"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="NavigateToRelatedOSP">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-xml
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.Related"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem OnClick="NavigateToLog">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-file-document-edit-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.LogFile"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem OnClick="OpenAppDetails">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-star-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.Evaluation"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>



            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem OnClick="()=>{ShowSponsor=true;Amount=0;}">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-hand-heart-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n!.T("About.Sponsor"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>
</MContainer>

<MyDialog @bind-MyValue="ShowSourceCode"
          MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n!.T("About.SourceCode"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowSourceCode=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            @foreach (var item in CodeSources)
            {
                <MListItem OnClick="()=>OpenBrowser(item.Url!)">
                    <MListItemIcon>
                        <MIcon Class="list-item-icon">
                            @(item.Icon)
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>
                            @(item.Name)
                        </MListItemTitle>
                    </MListItemContent>
                </MListItem>
            }
        </MCardText>
    </MCard>
</MyDialog>

<MyDialog @bind-MyValue="ShowSponsor"
          MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n!.T("About.Sponsor"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowSponsor=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="pb-0">
            <MChipGroup @bind-Value="Amount"
                        Mandatory
                        Column
                        ActiveClass="primary--text">
                @foreach (var item in Amounts)
                {
                    <MChip Outlined
                       Filter
                       OnClick="()=>ShowCustomAmount=false">
                        @(item + I18n.T("Amount.CurrencySymbol"))
                    </MChip>
                }
                <MChip Outlined
                       OnClick="()=>ShowCustomAmount=true">
                    @(I18n.T("Amount.Custom"))
                </MChip>
            </MChipGroup>
            @if (ShowCustomAmount)
            {
                <MTextField TValue="string"
                        Outlined
                        Dense
                        HideDetails="@("auto")"
                        Placeholder="@(I18n.T("Amount.CustomPlace"))"
                        Suffix="@(I18n.T("Amount.CurrencySymbol"))">

                </MTextField>
            }
        </MCardText>
        <MCardActions>
            <MSpacer></MSpacer>
            <MButton Text OnClick="()=>ShowSponsor=false">
                @(I18n!.T("Share.Cancel"))
            </MButton>
            <MButton Text
                     Color="primary"
                     OnClick="OnSponsor">
                @(I18n!.T("Share.OK"))
            </MButton>
        </MCardActions>
    </MCard>
</MyDialog>

<MyDialog @bind-MyValue="ShowThank" MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n!.T("Amount.Thank"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowThank=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            <div class="mb-1">@(I18n!.T("Amount.ThankContent"))</div>
            <div>@(I18n!.T("Amount.ThankContent2"))</div>
        </MCardText>
    </MCard>
</MyDialog>