@page "/"
@page "/Diaries"

<MAppBar App
         Elevation="0"
         Color="white">
    <MTabs @bind-Value="tabs"
           ActiveClass="text-h6 font-weight-bold"
           HideSlider
           Color="black">
        <MTab Class="m-tab-swiper"
              Ripple="false">
            全部
        </MTab>
        <MTab Class="m-tab-swiper"
              Ripple="false">
            标签
        </MTab>
    </MTabs>
    <MSpacer></MSpacer>
    <MButton Large Icon OnClick="NavigateToSearch">
        <MIcon>mdi-magnify</MIcon>
    </MButton>
</MAppBar>

<ScrollContainer Id="scrolling-index">
    <SwiperTabItems @bind-Value="tabs" RefreshData="HandOnRefreshData">
        <SwiperTabItem>
            <div class="mb-8 px-2">
                <MSubheader Class="px-0">
                    @(DateTime.Now.ToString("yyyy/MM/dd") + " " + DateTime.Now.DayOfWeek.ToChinese2())
                </MSubheader>

                <h3>早上好，又是全新的一天</h3>
            </div>

            <DiaryCardList Value="Diaries"></DiaryCardList>
        </SwiperTabItem>
        <SwiperTabItem>
            <div class="d-flex justify-space-between flex-wrap">
                @foreach (var item in Tags)
                {
                    <MCard Class="mb-5 tag-card"
                       Rounded="@("lg")">
                        <MListItem OnClick="()=>HandOnTagClick(item.Id)">
                            <MListItemIcon>
                                <MIcon>
                                    mdi-label-outline
                                </MIcon>
                            </MListItemIcon>

                            <MListItemContent>
                                @item.Name
                            </MListItemContent>

                            <MListItemAction>
                                <div @onclick:stopPropagation="true">
                                    <MMenu Rounded="@("lg")"
                                       Bottom
                                       Left
                                       Transition="scroll-x-reverse-transition">
                                        <ActivatorContent>
                                            <MButton Icon
                                                 @attributes="@context.Attrs">
                                                <MIcon>mdi-pencil</MIcon>
                                            </MButton>
                                        </ActivatorContent>
                                        <ChildContent>
                                            <MList MinWidth="150">
                                                <MListItem Dense
                                                       OnClick="()=>HandOnTagRename(item)">
                                                    <MListItemContent>
                                                        重命名
                                                    </MListItemContent>
                                                </MListItem>
                                                <MListItem Dense
                                                       OnClick="()=>HandOnTagDelete(item)">
                                                    <MListItemContent>
                                                        删除
                                                    </MListItemContent>
                                                </MListItem>
                                            </MList>
                                        </ChildContent>
                                    </MMenu>
                                </div>
                            </MListItemAction>
                        </MListItem>
                    </MCard>
                }
            </div>
        </SwiperTabItem>
    </SwiperTabItems>
</ScrollContainer>

@if (tabs == 0)
{
    <FabTransition>
        <MButton Color="black"
             Class="mb-15 mb-sm-0"
             Dark
             Bottom
             Right
             Fixed
             Href="/Write"
             Fab>
            <MIcon>
                mdi-pencil
            </MIcon>
        </MButton>
    </FabTransition>
}

@if (tabs == 1)
{
    <FabTransition>
        <MButton Color="black"
             Class="mb-15 mb-sm-0"
             Dark
             Bottom
             Right
             Fixed
             OnClick="()=>showAddTag=true"
             Fab>
            <MIcon>
                mdi-plus
            </MIcon>
        </MButton>
    </FabTransition>
}

<InputTag @bind-Value="showEditTag"
          @bind-Text="EditTagName"
          Title="重命名标签"
          OnSave="HandOnSaveEditTag">

</InputTag>
<InputTag @bind-Value="showAddTag"
          @bind-Text="AddTagName"
          Title="添加标签"
          OnSave="HandOnSaveAddTag">

</InputTag>