@page "/Write"

<MAppBar App
         ElevateOnScroll
         Color="white"
         ScrollTarget="#scrolling-write">
    <MButton Icon OnClick="HandOnBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MSpacer></MSpacer>

    <MButton Icon
             OnClick="()=>ShowSelectTag = true">
        <MIcon>
            mdi-label-outline
        </MIcon>
    </MButton>

    <MMenu @bind-Value="ShowMenu"
           Rounded="@("lg")"
           Transition="scroll-x-reverse-transition">
        <ActivatorContent>
            <MButton Icon
                     @attributes="@context.Attrs">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList MinWidth="150">
                <MListItem Dense
                           OnClick="()=>showTitle = !showTitle">
                    <MListItemContent>
                        @(showTitle ? I18n!.T("Write.CloseTitle") : I18n!.T("Write.OpenTitle"))
                    </MListItemContent>
                </MListItem>
                <MListItem Dense>
                    <MListItemContent>
                        @(I18n!.T("Write.RichText"))
                    </MListItemContent>
                </MListItem>
            </MList>
        </ChildContent>
    </MMenu>
</MAppBar>

<ScrollContainer Id="scrolling-write">
    <MContainer>
        <div class="px-3 text-h6 font-weight-bold">
            <span>@(Diary.CreateTime.ToString("yyyy/MM/dd"))</span>
            <span class="pl-5 text-subtitle-1">
                @(Diary.CreateTime.ToWeek(I18n))
            </span>
        </div>
        <div class="px-2">
            <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   OnClick="()=>ShowWeather=true">
                <MIcon Left>
                    @(GetWeatherIcon(Diary.Weather))
                </MIcon>
                @Weather
            </MChip>
            <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   OnClick="()=>ShowMood=true">
                <MIcon Left>
                    @(GetMoodIcon(Diary.Mood))
                </MIcon>
                @Mood
            </MChip>
            <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   OnClick="()=>ShowLocation=true">
                <MIcon Left>
                    mdi-map-marker-outline
                </MIcon>
                @(Diary.Location ?? I18n!.T("Write.Location"))
            </MChip>
        </div>

        @if (showTitle)
        {
            <MTextField @bind-Value="Diary.Title"
                    Class="pb-0 my-sm-4 user-select font-weight-bold"
                    Solo="Mobile"
                    Flat="Mobile"
                    Outlined="Desktop"
                    TValue="string"
                    HideDetails="@("auto")"
                    Dense
                    spellcheck="false"
                    maxlength="20"
                    Placeholder="@(I18n!.T("Write.TitlePlace"))">
            </MTextField>
        }

        <MTextarea @bind-Value="Diary.Content"
                   Class="my-sm-4 user-select"
                   Solo="Mobile"
                   Flat="Mobile"
                   Outlined="Desktop"
                   HideDetails="@("auto")"
                   Autofocus
                   AutoGrow
                   Rows="8"
                   RowHeight="30"
                   Counter="true"
                   spellcheck="false"
                   Placeholder="@(I18n!.T("Write.ContentPlace"))">
            <CounterContent>
                <MCounter Value="@CounterValue(Diary.Content)"></MCounter>
            </CounterContent>
        </MTextarea>

        <div class="mb-5">
            <MChipGroup Column>
                @foreach (var item in SelectedTags)
                {
                    <MChip Close
                       Outlined="Mobile"
                       OnCloseClick="()=>RemoveSelectedTag(item)">
                        @(item.Name)
                    </MChip>
                }
            </MChipGroup>
        </div>


        <div class="d-none d-sm-block">
            <MButton Class="px-8"
                     Rounded
                     Dark
                     OnClick="HandOnSave">
                @(I18n!.T("Share.Save"))
            </MButton>
            <MButton Class="px-8"
                     Rounded
                     Outlined
                     OnClick="HandOnClear">
                @(I18n!.T("Share.Clear"))
            </MButton>
        </div>
    </MContainer>
</ScrollContainer>

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            OnSave="HandOnSaveSelectTags">
</SelectTags>

<MDialog @bind-Value="ShowWeather"
         MaxWidth="420"
         Scrollable>
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n!.T("Write.SelectWeather"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowWeather=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="scroll-show pb-0 mb-5" Style="max-height:200px;">
            <MChipGroup @bind-Value="WeatherIndex" Column>
                @foreach (var item in WeatherIcons)
                {
                    <MChip Filter
                       Outlined>
                        <MIcon Left>
                            @(item.Value)
                        </MIcon>
                        @(I18n!.T("Weather." + item.Key))
                    </MChip>
                }
            </MChipGroup>
        </MCardText>
    </MCard>
</MDialog>
<MDialog @bind-Value="ShowMood"
         MaxWidth="420"
         Scrollable>
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n!.T("Write.SelectMood"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowMood=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="scroll-show pb-0 mb-5" Style="max-height:200px;">
            <MChipGroup @bind-Value="MoodIndex" Column>
                @foreach (var item in MoodIcons)
                {
                    <MChip Filter
                       Outlined>
                        <MIcon Left>
                            @(item.Value)
                        </MIcon>
                        @(I18n!.T("Mood." + item.Key))
                    </MChip>
                }
            </MChipGroup>
        </MCardText>
    </MCard>
</MDialog>

<MDialog @bind-Value="ShowLocation"
         MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n!.T("Write.InputLocation"))
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowLocation=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            <MTextField @bind-Value="Diary.Location"
                        Dense
                        Autofocus
                        HideDetails="@("auto")"
                        Outlined
                        Counter="50"
                        maxlength="50"
                        Placeholder="@(I18n!.T("Write.LocationPlace"))">
            </MTextField>
        </MCardText>
    </MCard>
</MDialog>