@page "/Read/{id:int}"

<MAppBar App
         ElevateOnScroll
         Color="white"
         ScrollTarget="#scrolling-read">
    <MButton Icon OnClick="HandOnBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MSpacer></MSpacer>
    <MButton Icon
             OnClick="()=>ShowShare=true">
        <MIcon>
            mdi-share-variant-outline
        </MIcon>
    </MButton>
    <MButton Icon
             OnClick="HandOnDelete">
        <MIcon>
            mdi-delete-outline
        </MIcon>
    </MButton>
    <MButton Icon
             OnClick="HandOnEdit">
        <MIcon>
            mdi-pencil
        </MIcon>
    </MButton>

    <MMenu @bind-Value="ShowMenu"
           Rounded="@("lg")"
           Transition="scroll-x-reverse-transition">
        <ActivatorContent>
            <MButton Icon
                     @attributes="@context.Attrs">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList MinWidth="150">
                <MListItem Dense
                           OnClick="Copy">
                    <MListItemContent>
                        复制
                    </MListItemContent>
                </MListItem>
                <MListItem Dense
                           OnClick="()=>Topping(Diary)">
                    <MListItemContent>
                        @(Top ? "取消置顶" : "置顶")
                    </MListItemContent>
                </MListItem>
                <MListItem Dense>
                    <MListItemContent>
                        导出
                    </MListItemContent>
                </MListItem>
            </MList>
        </ChildContent>
    </MMenu>
</MAppBar>

<ScrollContainer Id="scrolling-read">
    <MContainer Id="screenshot">
        <div class="px-3 text-h6 font-weight-bold">
            <span>@(Diary.CreateTime.ToString("yyyy/MM/dd"))</span>
            <span class="pl-5 text-subtitle-1">@(Diary.CreateTime.DayOfWeek.ToChinese2())</span>
        </div>
        <div class="px-2">
            @if(ShowWeather)
            {
                <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   Small="Mobile">
                    <MIcon Left Small="Mobile">
                        @(GetWeatherIcon(Diary.Weather))
                    </MIcon>
                    @(Diary.Weather)
                </MChip>
            }

            @if(ShowMood)
            {
                <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   Small="Mobile">
                    <MIcon Left Small="Mobile">
                        @(GetMoodIcon(Diary.Mood))
                    </MIcon>
                    @(Diary.Mood)
                </MChip>
            }
           
            @if(ShowLocation)
            {
                <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   Small="Mobile">
                    <MIcon Left Small="Mobile">
                        mdi-map-marker-outline
                    </MIcon>
                    @(Diary.Location)
                </MChip>
            }
        </div>

        @if (ShowTitle)
        {
            <MTextField Value="@(Diary.Title)"
                    Class="pb-0 my-sm-4 user-select"
                    Solo="!Desktop"
                    Outlined="Desktop"
                    TValue="string"
                    HideDetails="@("auto")"
                    Dense
                    Readonly
                    maxlength="20">
            </MTextField>
        }

        <MTextarea Value="@(Diary.Content)"
                   Class="my-sm-4 user-select"
                   Solo="!Desktop"
                   Outlined="Desktop"
                   HideDetails="@("auto")"
                   Readonly
                   AutoGrow
                   Rows="8"
                   RowHeight="30">
        </MTextarea>

        <div class="mb-5">
            <MChipGroup Column>
                @foreach (var item in SelectedTags)
                {
                    <MChip Outlined="!Desktop">
                        @(item.Name)
                    </MChip>
                }
            </MChipGroup>
        </div>
    </MContainer>
</ScrollContainer>

<MDialog @bind-Value="ShowShare" MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            选择分享方式
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowShare = false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
       <MList>
            <MListItem OnClick="TextShare">
                <MListItemIcon>
                    <MIcon>
                        mdi-format-text
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>文字分享</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem OnClick="ImageShare">
                <MListItemIcon>
                    <MIcon>
                        mdi-image-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>图片分享</MListItemTitle>
                </MListItemContent>
            </MListItem>
       </MList>
    </MCard>
</MDialog>

<MOverlay Value="showLoading" ZIndex="99">
    <MProgressCircular Indeterminate
                       Size="64"></MProgressCircular>
</MOverlay>

<DeleteDialog @bind-Value="ShowDelete"
              Title="删除日记"
              Content="请慎重删除，每一篇日记都是珍贵的回忆。"
              OnOK="()=>HandOnOKDelete?.Invoke()">

</DeleteDialog>