@page "/Write"

<MAppBar App
         Dense
         Elevation="0"
         Color="white">
    <MButton Icon Href="/">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MSpacer></MSpacer>

    <MButton Class="d-sm-none"
             Icon
             OnClick="()=>showSelectTag = true">
        <MIcon>
            mdi-label-outline
        </MIcon>
    </MButton>

    <MMenu @bind-Value="showMenu"
           Rounded="@("lg")"
           Transition="scroll-x-reverse-transition">
        <ActivatorContent>
            <MButton Icon
                     @attributes="@context.Attrs">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList MinWidth="150">
                <MListItem Class="d-none d-sm-block"
                           Dense
                           OnClick="()=>showSelectTag = true">
                    <MListItemContent>
                        标签
                    </MListItemContent>
                </MListItem>
                <MListItem Dense OnClick="()=>showTitle = !showTitle">
                    <MListItemContent>
                        @(showTitle ? "关闭标题" : "开启标题")
                    </MListItemContent>
                </MListItem>
                <MListItem Dense>
                    <MListItemContent>
                        切换至富文本
                    </MListItemContent>
                </MListItem>
            </MList>
        </ChildContent>
    </MMenu>
</MAppBar>

<MContainer>
    <div class="px-3 text-sm-h6 font-weight-bold">
        @(DateTime.Now.ToString("yyyy/MM/dd"))
    </div>

    <div class="overflow-hidden" style="max-width:100px;">
        <MAutocomplete Solo
                       Dense
                       Label="天气"
                       Color="transparent"
                       HideDetails="@("auto")"
                       Items="_weathers"
                       @bind-Value="_weather"
                       ItemText="r=>r"
                       ItemValue="r=>r">
        </MAutocomplete>
    </div>

    @if (showTitle)
    {
        <div class="my-sm-4 write-overflow">
            <MTextField Solo="!IsDesktop"
                    Outlined="IsDesktop"
                    TValue="string"
                    HideDetails="@("auto")"
                    Placeholder="请输入标题">
            </MTextField>
        </div>
    }

    <div class="my-sm-4 write-overflow write-textarea">
        <MTextarea Solo="!IsDesktop"
                   Outlined="IsDesktop"
                   HideDetails="@("auto")"
                   AutoGrow
                   Rows="8"
                   RowHeight="30"
                   Placeholder="请输入内容">
        </MTextarea>
    </div>

    <div class="mb-5">
        <MChipGroup Column>
            @foreach (var item in SelectedTags)
            {
                <MChip Label
                   Close
                   OnCloseClick="()=>RemoveSelectedTag(item)">
                    <MIcon Left>
                        mdi-label-outline
                    </MIcon>
                    @(item.Name)
                </MChip>
            }
        </MChipGroup>
    </div>


    <div class="d-none d-sm-block">
        <MButton Class="px-8" Rounded Dark>
            保存
        </MButton>
        <MButton Class="px-8" Rounded Color="error" Outlined>
            清除
        </MButton>
    </div>
</MContainer>

<SelectTags @bind-Value="showSelectTag"
            @bind-Items="SelectedTags"
            OnSave="HandOnSaveSelectTags">
</SelectTags>