@page "/Write"

<MAppBar App
         ElevateOnScroll
         Color="white"
         ScrollTarget="#scrolling-write">
    <MButton Icon OnClick="HandOnBack">
        <MIcon>
            mdi-arrow-left
        </MIcon>
    </MButton>

    <MSpacer></MSpacer>

    <MButton Icon
             OnClick="()=>ShowSelectTag = true">
        <MIcon>
            mdi-label-outline
        </MIcon>
    </MButton>

    <MMenu @bind-Value="ShowMenu"
           Rounded="@("lg")"
           Transition="scroll-x-reverse-transition">
        <ActivatorContent>
            <MButton Icon
                     @attributes="@context.Attrs">
                <MultiDisplay>
                    <DesktopContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </DesktopContent>
                    <MobileContent>
                        <MIcon>mdi-dots-vertical</MIcon>
                    </MobileContent>
                </MultiDisplay>
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList MinWidth="150">
                <MListItem Dense
                           OnClick="()=>showTitle = !showTitle">
                    <MListItemContent>
                        @(showTitle ? "关闭标题" : "开启标题")
                    </MListItemContent>
                </MListItem>
                <MListItem Dense>
                    <MListItemContent>
                        切换至富文本
                    </MListItemContent>
                </MListItem>
            </MList>
        </ChildContent>
    </MMenu>
</MAppBar>

<ScrollContainer Id="scrolling-write">
    <MContainer>
        <div class="px-3 text-h6 font-weight-bold">
            <span>@(Diary.CreateTime.ToString("yyyy/MM/dd"))</span>
            <span class="pl-5 text-subtitle-1">@(Diary.CreateTime.DayOfWeek.ToChinese2())</span>
        </div>
        <div class="px-2">
            <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   Small="Mobile"
                   OnClick="()=>ShowWeather=true">
                <MIcon Left Small="Mobile">
                    @(GetWeatherIcon(Diary.Weather))
                </MIcon>
                @(string.IsNullOrEmpty(Diary.Weather) ? "天气" : Diary.Weather)
            </MChip>
            <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   Small="Mobile"
                   OnClick="()=>ShowMood=true">
                <MIcon Left Small="Mobile">
                    @(GetMoodIcon(Diary.Mood))
                </MIcon>
                @(string.IsNullOrEmpty(Diary.Mood) ? "心情" : Diary.Mood)
            </MChip>
            <MChip Class="my-2 mr-2"
                   Outlined="Mobile"
                   Small="Mobile"
                   OnClick="()=>ShowLocation=true">
                <MIcon Left Small="Mobile">
                    mdi-map-marker-outline
                </MIcon>
                @(string.IsNullOrEmpty(Diary.Location) ? "位置" : Diary.Location)
            </MChip>
        </div>

        @if (showTitle)
        {
            <MTextField @bind-Value="Diary.Title"
                    Class="pb-0 my-sm-4 user-select"
                    Solo="Mobile"
                    Flat="Mobile"
                    Outlined="Desktop"
                    TValue="string"
                    HideDetails="@("auto")"
                    Dense
                    maxlength="20"
                    Placeholder="请输入标题">
            </MTextField>
        }

        <MTextarea @bind-Value="Diary.Content"
                   Class="my-sm-4 user-select"
                   Solo="Mobile"
                   Flat="Mobile"
                   Outlined="Desktop"
                   HideDetails="@("auto")"
                   Autofocus
                   AutoGrow
                   Rows="8"
                   RowHeight="30"
                   Counter="true"
                   Placeholder="请输入内容">
            <CounterContent>
                <MCounter Value="@((Diary.Content??"").Length + "字")"></MCounter>
            </CounterContent>
        </MTextarea>

        <div class="mb-5">
            <MChipGroup Column>
                @foreach (var item in SelectedTags)
                {
                    <MChip Close
                       Outlined="Mobile"
                       OnCloseClick="()=>RemoveSelectedTag(item)">
                        @(item.Name)
                    </MChip>
                }
            </MChipGroup>
        </div>


        <div class="d-none d-sm-block">
            <MButton Class="px-8"
                     Rounded
                     Dark
                     OnClick="HandOnSave">
                保存
            </MButton>
            <MButton Class="px-8"
                     Rounded
                     Outlined
                     OnClick="HandOnClear">
                清除
            </MButton>
        </div>
    </MContainer>
</ScrollContainer>

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            OnSave="HandOnSaveSelectTags">
</SelectTags>

<MDialog @bind-Value="ShowWeather"
         MaxWidth="420"
         Scrollable>
    <MCard>
        <MCardTitle Class="font-weight-bold">
            选择天气
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowWeather=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="scroll-show" Style="max-height:200px;">
            <MChipGroup @bind-Value="WeatherIndex" Column>
                @foreach (var item in WeatherIcons)
                {
                    <MChip Filter
                       Outlined>
                        <MIcon Left>
                            @(item.Value)
                        </MIcon>
                        @(item.Key)
                    </MChip>
                }
            </MChipGroup>
        </MCardText>
    </MCard>
</MDialog>
<MDialog @bind-Value="ShowMood"
         MaxWidth="420"
         Scrollable>
    <MCard>
        <MCardTitle Class="font-weight-bold">
            选择心情
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowMood=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="scroll-show" Style="max-height:200px;">
            <MChipGroup @bind-Value="MoodIndex" Column>
                @foreach (var item in MoodIcons)
                {
                    <MChip Filter
                       Outlined>
                        <MIcon Left>
                            @(item.Value)
                        </MIcon>
                        @(item.Key)
                    </MChip>
                }
            </MChipGroup>
        </MCardText>
    </MCard>
</MDialog>

<MDialog @bind-Value="ShowLocation"
         MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            输入位置
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>ShowLocation=false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText>
            <MTextField @bind-Value="Diary.Location"
                        Dense
                        Autofocus
                        HideDetails="@("auto")"
                        Outlined
                        Counter="50"
                        maxlength="50"
                        Placeholder="请输入位置">
            </MTextField>
        </MCardText>
    </MCard>
</MDialog>