@namespace SwashbucklerDiary.Components
@inherits MyComponentBase

<div class="my-card-list">
    <CascadingValue Value="this">
        @foreach (var item in Value)
        {
            <LocationCard @key="item.Id"
                          Value="item">
            </LocationCard>
        }
    </CascadingValue>
</div>

@if (!Value.Any())
{
    <div class="my-not-have">
        <div class="text-h6 text--secondary font-weight-bold-desktop">
            @(I18n.T("Location.NoLocation"))
        </div>
    </div>
}

<InputDialog @bind-Value="ShowRename"
             Text="@(SelectedLocation.Name)"
             Title="@(I18n.T("Location.Rename"))"
             Placeholder="@(I18n.T("Location.Placeholder"))"
             OnOK="ConfirmRename">
</InputDialog>

<DeleteDialog @bind-Value="ShowDelete"
              Title="@(I18n.T("Location.Delete.Title"))"
              Content="@(I18n.T("Location.Delete.Content"))"
              OnOK="ConfirmDelete">
</DeleteDialog>
