@namespace SwashbucklerDiary.Rcl.Components
@inherits MediaResourceListComponentBase

<div>
    <div class="adaptive-card-container">
        @foreach (var item in LoadedItems)
        {
            <AudioCard Value="item"></AudioCard>
        }
    </div>
    
    @if (LoadedItems.Count > 0)
    {
        <MInfiniteScroll Style="width:100%;"
                         OnLoad="@OnLoad"
                         Parent="@($"#{ScrollElementId}")"
                         EmptyText="@(string.Empty)"
                         LoadingText="@(string.Empty)">
            <LoadMoreContent Context="load">
                <div class="@(ShowLoadMore?"":"d-none")">
                    <MButton Icon="true"
                             OnClick="@load">
                        <MIcon>mdi-reload</MIcon>
                    </MButton>
                </div>
            </LoadMoreContent>
        </MInfiniteScroll>
    }

</div>

<EmptyResult Show="Value.Count == 0"
             Text="@(I18n.T("FileBrowse.Audio.NoAudio"))">
</EmptyResult>
