@namespace SwashbucklerDiary.Components
@inherits MyComponentBase

<div class="my-card-list @(Class)">
    @foreach (var item in InternalValue)
    {
        <DiaryCard @key="item.Id"
                   Value="item"
                   Class="@CardClass"
                   Privacy="ShowPrivacy"
                   Icon="ShowIcon"
                   DateFormat="@DateFormat"
                   OnTag="HandleTag"
                   OnCopy="HandleCopy"
                   OnDelete="OpenDeleteDialog"
                   OnTopping="HandleTopping"
                   OnExport="OpenExportDialog"
                   OnPrivacy="HandlePrivacy"
                   OnClick="HandleClick">
        </DiaryCard>
    }

    <MInfiniteScroll Style="width:100%;"
                     OnLoad="@OnLoad"
                     Parent="ScrollElement"
                     EmptyText="@(string.Empty)"
                     LoadingText="@(string.Empty)">
        <LoadMoreContent Context="load">
            <div class="@(ShowLoadMore?"":"d-none")">
                <MButton Icon="true"
                         OnClick="@load">
                    <MIcon>mdi-reload</MIcon>
                </MButton>
            </div>
        </LoadMoreContent>
    </MInfiniteScroll>
</div>

<SelectTags @bind-Value="ShowSelectTag"
@bind-Values="SelectedTags"
            Tags="Tags"
            TagsChanged="TagsChanged"
            OnSave="SaveSelectTags">
</SelectTags>

<DeleteDialog @bind-Value="ShowDeleteDiary"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="()=>HandleDelete(SelectedDiary)">
</DeleteDialog>

<ExportDialog @bind-Value="ShowExport"
              Diaries="ExportDiaries">
</ExportDialog>