@namespace SwashbucklerDiary.Components
@inherits ImportantComponentBase

<div class="my-card-list @(Class)">
    <CascadingValue Value="this"
                    IsFixed="true">
        @foreach (var item in Value)
        {
            <DiaryCard @key="item.Id"
                       Value="item"
                       Class="@CardClass">
            </DiaryCard>
        }
    </CascadingValue>

</div>

<NotFound Show="!Value.Any()"
          Text="@(NotFoundText ?? I18n.T("Diary.NoDiary"))">
</NotFound>

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            Tags="Tags"
            TagsChanged="TagsChanged"
            OnSave="SaveSelectTags">
</SelectTags>

<DeleteDialog @bind-Value="ShowDeleteDiary"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="ConfirmDelete">
</DeleteDialog>

<ExportDialog @bind-Value="ShowExport"
              Diaries="ExportDiaries">
</ExportDialog>