@namespace SwashbucklerDiary.Rcl.Components
@inherits WaterfallBase


<div>
    <wc-waterfall @ref="elementReference" class="video-waterfall" gap="@Gap" cols="@Cols">
        @foreach (var item in LoadedItems)
        {
            <video @key="item.ResourceUri" class="rounded-lg" src="@item.ResourceUri" />
        }
    </wc-waterfall>

    @if (LoadedItems.Count > 0)
    {
        <MInfiniteScroll Style="width:100%;"
                         OnLoad="@OnLoad"
                         Parent="ScrollElement"
                         EmptyText="@(string.Empty)"
                         LoadingText="@(string.Empty)">
            <LoadMoreContent Context="load">
                <div class="@(ShowLoadMore?"":"d-none")">
                    <MButton Icon="true"
                             OnClick="@load">
                        <MIcon>mdi-reload</MIcon>
                    </MButton>
                </div>
            </LoadMoreContent>
        </MInfiniteScroll>
    }

</div>

<EmptyResult Show="Value.Count == 0"
             Text="@(I18n.T("FileBrowse.Video.NoVideo"))">
</EmptyResult>
