@page "/setting"
@namespace SwashbucklerDiary.Pages
@inherits PageComponentBase

<MyAppBar Title="@(I18n.T("Mine.Settings"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <div class="text-h6 setting-title">
        @(I18n.T("Setting.General.Name"))
    </div>

    <MCard Class="setting-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="@(()=>To("permissionSetting"))">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-account-cog-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Setting.General.Permission.Name"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3"></MDivider>

            <MListItem OnClick="@(()=>ShowClearCache=true)">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-trash-can-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Setting.General.Storage.Name"))
                </MListItemContent>
                <MListItemContent Class="setting-state">
                    <MListItemSubtitle>
                        @CacheSize
                    </MListItemSubtitle>
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    <div class="text-h6 setting-title">
        @(I18n.T("Setting.Display.Name"))
    </div>

    <MCard Class="setting-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="@(()=>To("indexSetting"))">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-home-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Setting.Display.Index.Name"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-3"></MDivider>
            <MListItem OnClick="@(()=>To("diarySetting"))">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-notebook-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Setting.Display.Diary.Name"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-3"></MDivider>
            <MListItem OnClick="@(()=>To("alertSetting"))">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-alert-box-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Setting.Display.Alert.Name"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
            <MDivider Class="mx-3"></MDivider>
            <MListItem OnClick="@(()=>To("diaryCardSetting"))">
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        mdi-card-text-outline
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(I18n.T("Setting.Display.DiaryCard.Name"))
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    <div class="text-h6 setting-title">
        @(I18n.T("Setting.Safe.Name"))
    </div>

    <MCard Class="setting-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            @if (Privacy)
            {
                <MListItem OnClick="@(()=>To("privacyLibrary"))">
                    <MListItemIcon>
                        <MIcon Class="list-item-icon">
                            mdi-safe
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        @(I18n.T("Setting.Safe.PrivacyLibrary.Name"))
                    </MListItemContent>
                    <MListItemAction>
                        <MIcon>mdi-chevron-right</MIcon>
                    </MListItemAction>
                </MListItem>

                <MDivider Class="mx-3"></MDivider>
            }

            <MListItem>
                <MListItemIcon>
                    <MIcon Class="list-item-icon">
                        @(Privacy ? "mdi-lock-outline" : "mdi-database-remove-outline")
                    </MIcon>
                </MListItemIcon>
                <MListItemContent>
                    @(GetDisplayPrivacy())
                </MListItemContent>
                <MListItemAction>
                    <MSwitch @bind-Value="Privacy"
                             TValue="bool"
                             Readonly="true"
                             OnClick="PrivacyClick"
                             Dense="true"
                             Inset="true"
                             Color="white"
                             TrackColor="@MSwitchTrackColor(Privacy)">
                    </MSwitch>
                </MListItemAction>
            </MListItem>

            @if (Privacy)
            {
                <MDivider Class="mx-3"></MDivider>

                <MListItem OnClick="()=>ShowPPSet = true">
                    <MListItemIcon>
                        <MIcon Class="list-item-icon">
                            mdi-key-outline
                        </MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        @(I18n.T("Setting.Safe.PrivacyPassword.Name"))
                    </MListItemContent>
                    <MListItemContent Class="setting-state">
                        <MListItemSubtitle>
                            @GetPrivatePasswordSetState()
                        </MListItemSubtitle>
                    </MListItemContent>
                    <MListItemAction>
                        <MIcon>mdi-chevron-right</MIcon>
                    </MListItemAction>
                </MListItem>
            }
        </MList>
    </MCard>

    
</ScrollContainer>

<PasswordDialog @bind-Value="ShowPPSet"
                Title="@(I18n.T("Setting.Safe.SetPassword"))"
                MaxLength="20"
                OnOK="SetPassword">
</PasswordDialog>

<InputDialog @bind-Value="ShowPPInput"
             Title="@(I18n.T("Setting.Safe.ValidatePassword"))"
             Placeholder="@(I18n.T("Please input a password"))"
             MaxLength="20"
             Password="true"
             OnOK="InputPassword"
             OKText="@(I18n.T("Share.OK"))">
</InputDialog>

<MMDialog @bind-MyValue="ShowClearCache"
          ContentClass="rounded-lg"
          MaxWidth="420">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Setting.General.Storage.Name"))
        </MCardTitle>
        <MCardText Class="pb-0">
            @(I18n.T("Storage.Content"))
        </MCardText>
        <MCardActions>
            <MSpacer></MSpacer>
            <MButton Text="true"
                     OnClick="()=>ShowClearCache=false">
                @(I18n.T("Share.Cancel"))
            </MButton>
            <MButton Text="true"
                     Color="red"
                     OnClick="ClearCache">
                @(I18n.T("Share.OK"))
            </MButton>
        </MCardActions>
    </MCard>
</MMDialog>