@namespace SwashbucklerDiary.Components

<div @ref="element"
@oncontextmenu="OnContextmenu"
     id="@Id"
     class="my-scroll-container @(Class)"
     style="@(Style)">
    <MContainer Class="@("my-container "+ ContentClass)"
                Style="@ContentStyle"
                Fluid="true">
        @ChildContent
    </MContainer>
</div>
