@namespace SwashbucklerDiary.Components

<div id="@Id"
     class="my-scroll-container @(Class)"
     style="@(Style)"
     @oncontextmenu="OnContextmenu">
    <MContainer Fluid="true"
                Class="@("my-container "+ ContentClass)"
                Style="@ContentStyle">
        @ChildContent
    </MContainer>
</div>
