@page "/"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits DiariesPageComponentBase

<MyAppBar>
    <MyTabs @bind-Value="tab"
            Items="tabListItems">
    </MyTabs>

    <MSpacer></MSpacer>

    <MultiSearch OnSearch="Search"></MultiSearch>
</MyAppBar>

<SwiperTabItems @ref="swiperTabItems"
                @bind-Value="tab">
    <SwiperTabItem>
        <MContainer Class="my-container"
                    Fluid="true">
            <HomeHead ShowDate="showDate"
                       ShowWelcomeText="showWelcomeText">
            </HomeHead>
            <DiaryCardList @bind-Value="Diaries"
                           @bind-Tags="Tags">
            </DiaryCardList>
        </MContainer>

    </SwiperTabItem>
    <SwiperTabItem>
        <MContainer Class="my-container"
                    Fluid="true">
            <TagCardList @bind-Value="Tags"
                         Diaries="Diaries">
            </TagCardList>
        </MContainer>
    </SwiperTabItem>
    <SwiperTabItem>
        <MContainer Class="my-container"
                    Fluid="true">
            <DiaryCardList @bind-Value="templates"
                           @bind-Tags="Tags"
                           HideStatisticsCard
                           NotFoundText="@I18n.T("No templates")">
            </DiaryCardList>
        </MContainer>
    </SwiperTabItem>
</SwiperTabItems>

<div class="right-bottom-float-area">
    <BackTopButton Class="mb-2"
                   Selector="@SwiperActiveItemSelector">
    </BackTopButton>
    <MWindow Value="tab" Style="overflow:unset;">
        <MWindowItem Transition="">
            <MyFloatButton Icon="mdi-pencil"
                           OnClick="@(()=>To("write"))">
            </MyFloatButton>
        </MWindowItem>
        <MWindowItem Transition="">
            <MyFloatButton Icon="mdi-plus"
                           OnClick="()=>showAddTag=true">
            </MyFloatButton>
        </MWindowItem>
        <MWindowItem Transition="">
            <MyFloatButton Icon="mdi-pencil"
                           OnClick="@(() => To("write?Template=true"))">
            </MyFloatButton>
        </MWindowItem>
    </MWindow>
</div>

<InputDialog @bind-Visible="showAddTag"
             Title="@(I18n.T("Add tags"))"
             Placeholder="@(I18n.T("Please enter a tag name"))"
             OnOK="SaveAddTag">
</InputDialog>