@namespace SwashbucklerDiary.Rcl.Components
@inherits CardListComponentBase<TagModel>

<div class="card-list__wrap">
    <div class="card-list__main">
        <CascadingValue Value="options"
                        IsFixed="true">
            <Virtualize Items="InternalValue"
                        ItemSize="60"
                        Context="item">
                <TagCard @key="item.Id"
                         Value="item"
                         OnMenu="OpenMenu"
                         OnCalcDiaryCount="CalcDiaryCount">
                </TagCard>
            </Virtualize>
        </CascadingValue>
    </div>
    @if (Value.Count > 0 && showStatisticsCard)
    {
        <MultiDisplay MdAndUp="true">
            <DesktopContent>
                <div class="card-list__assist-info">
                    <TagStatisticsCard Value="Value"
                                       Diaries="Diaries">
                    </TagStatisticsCard>
                </div>
            </DesktopContent>
        </MultiDisplay>
    }
</div>

<EmptyResult Show="Value.Count == 0"
             Text="@(I18n.T("Tag.NoTag"))">
</EmptyResult>

<InputDialog @bind-Visible="ShowRename"
             Text="@(SelectedItem.Name)"
             Title="@(I18n.T("Tag.Rename"))"
             Placeholder="@(I18n.T("Tag.Placeholder"))"
             OnOK="ConfirmRename">
</InputDialog>

<DeleteDialog @bind-Visible="ShowDelete"
              Title="@(I18n.T("Tag.Delete.Title"))"
              Content="@(I18n.T("Tag.Delete.Content"))"
              OnOK="ConfirmDelete">
</DeleteDialog>

<ExportDialog @bind-Visible="ShowExport"
              Value="ExportDiaries">
</ExportDialog>

<RadioDialog @bind-Value="SortItem"
             @bind-Visible="showSort"
             OnChange="SortChanged"
             TItem="string"
             TItemValue="string"
             Title="@(I18n.T("Share.Sort"))"
             Row="true"
             Items="SortItems">
</RadioDialog>

<MultiMenu @ref="multiMenu"
           @bind-Visible="showMenu"
           DynamicListItems="menuItems">
</MultiMenu>
