@inherits LayoutComponentBase

<MApp>
    <MMain Style="@(ShowBottomNavigation?"":"padding-bottom:0px;")">
        @if (MasaBlazor.Breakpoint.SmAndUp)
        {
            <MNavigationDrawer App
                           Floating
                           Style="max-height:unset;"
                           Permanent>
                <MList Rounded>
                    <MListItemGroup @bind-Value="SelectedItem">
                        @foreach (var navigationButton in NavigationButtons)
                        {
                            <MListItem OnClick="()=>ChangeView(navigationButton)">
                                <MListItemIcon>
                                    <MIcon>@GetIcon(navigationButton)</MIcon>
                                </MListItemIcon>
                                <MListItemTitle>
                                    @(I18n!.T(navigationButton.Title))
                                </MListItemTitle>
                            </MListItem>
                        }
                    </MListItemGroup>
                </MList>
            </MNavigationDrawer>
        }
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <MDialog Value="true"
                         Persistent
                         MaxWidth="420">
                    <MCard>
                        <MCardTitle Class="font-weight-bold">
                            <MIcon Class="error--text mr-2">
                                mdi-close-circle-outline
                            </MIcon>
                            @(I18n.T("ErrorHandle.Title"))
                        </MCardTitle>
                        <MCardText>
                            @(I18n.T("ErrorHandle.Content"))
                        </MCardText>
                    </MCard>
                </MDialog>
            </ErrorContent>
        </ErrorBoundary>
    </MMain>
    <MBottomNavigation @bind-Value="SelectedItem"
                       InputValue="ShowBottomNavigation"
                       Class="d-flex justify-space-around d-sm-none"
                       App
                       Shift>
        @foreach (var navigationButton in NavigationButtons)
        {
            <MButton OnClick="()=>ChangeView(navigationButton)">
                <span>@(I18n!.T(navigationButton.Title))</span>
                <MIcon>@GetIcon(navigationButton)</MIcon>
            </MButton>
        }
    </MBottomNavigation>
</MApp>
