@inherits MyComponentBase
<MCard Elevation="4"
       Rounded="@("lg")"
       Class="@("my-5 " + Class)"
       OnClick="OnClick"
       Ripple="false"
       @oncontextmenu="()=>ShowMenu=true"
       __internal_preventDefault_oncontextmenu>
    <MListItem Dense>
        <MListItemContent>
            <div class="text--secondary text-h6">
                @(Date.ToString("MM/dd"))
            </div>
        </MListItemContent>
        <MListItemAction>
            @if (IsTop)
            {
                <MIcon>
                    mdi-format-vertical-align-top
                </MIcon>
            }
            <div @onclick:stopPropagation="true">
                <MyMenu @bind-MyValue="ShowMenu"
                       Bottom
                       Left
                       Rounded="@("lg")"
                       Transition="scroll-x-reverse-transition">
                    <ActivatorContent>
                        <MButton Icon
                                 @attributes="@context.Attrs">
                            <MIcon>mdi-dots-horizontal</MIcon>
                        </MButton>
                    </ActivatorContent>

                    <ChildContent>
                        <MList MinWidth="150">
                            <MListItem Dense
                                       OnClick="OnTag">
                                <MListItemContent>
                                    @(I18n!.T("Diary.Tag"))
                                </MListItemContent>
                            </MListItem>
                            <MListItem Dense
                                       OnClick="OnCopy">
                                <MListItemContent>
                                    @(I18n!.T("Share.Copy"))
                                </MListItemContent>
                            </MListItem>
                            <MListItem Dense
                                       OnClick="OnDelete">
                                <MListItemContent>
                                    @(I18n!.T("Share.Delete"))
                                </MListItemContent>
                            </MListItem>
                            <MListItem Dense
                                       OnClick="OnTopping">
                                <MListItemContent>
                                    @(IsTop ? I18n!.T("Diary.CancelTop") : I18n!.T("Diary.Top"))
                                </MListItemContent>
                            </MListItem>
                            <MListItem Dense>
                                <MListItemContent>
                                    @(I18n!.T("Diary.Export") + "（txt、json、pdf）")
                                </MListItemContent>
                            </MListItem>
                        </MList>
                    </ChildContent>
                </MyMenu>
            </div>
        </MListItemAction>
    </MListItem>
    <MDivider Class="mx-4"></MDivider>
    <MListItem ThreeLine>
        <MListItemContent>
            <MListItemTitle>
                <b>@(string.IsNullOrWhiteSpace(Title) ? I18n!.T("Diary.Untitled") : Title)</b>
            </MListItemTitle>
            <MListItemSubtitle>
                @Text
            </MListItemSubtitle>
        </MListItemContent>
    </MListItem>
</MCard>
