@namespace SwashbucklerDiary.Components
@inherits MyComponentBase

<div class="my-card-list">
    <CascadingValue Value="this"
                    IsFixed="true">
        @foreach (var item in Value)
        {
            <TagCard @key="item.Id"
                     Value="item">
            </TagCard>
        }
    </CascadingValue>

</div>

@if (!Value.Any())
{
    <div class="my-not-have">
        <div class="text-h6 text--secondary font-weight-bold-desktop">
            @(I18n.T("Tag.NoTag"))
        </div>
    </div>
}

<InputDialog @bind-Value="ShowRename"
             Text="@(SelectedTag.Name)"
             Title="@(I18n.T("Tag.Rename"))"
             Placeholder="@(I18n.T("Tag.Placeholder"))"
             OnOK="ConfirmRename">
</InputDialog>

<DeleteDialog @bind-Value="ShowDelete"
              Title="@(I18n.T("Tag.Delete.Title"))"
              Content="@(I18n.T("Tag.Delete.Content"))"
              OnOK="ConfirmDelete">
</DeleteDialog>

<ExportDialog @bind-Value="ShowExport"
              Diaries="ExportDiaries">
</ExportDialog>
