@namespace SwashbucklerDiary.Components
@inherits MyComponentBase

<div class="my-card-list">
    @foreach (var item in InternalValue)
    {
        <TagCard @key="item.Id"
                 Value="item"
                 OnDelete="OpenDeleteDialog"
                 OnRename="OpenRenameDialog"
                 OnClick="HandleClick">
        </TagCard>
    }
    <MInfiniteScroll Style="width:100%;"
                     OnLoad="@OnLoad"
                     Parent="ScrollParent"
                     EmptyText="@(string.Empty)"
                     LoadingText="@(string.Empty)">
        <LoadMoreContent Context="load">
            <div class="@(InternalValue.Any()?"":"d-none")">
                <MButton Icon="true"
                         OnClick="@load">
                    <MIcon>mdi-reload</MIcon>
                </MButton>
            </div>
        </LoadMoreContent>
    </MInfiniteScroll>
</div>

@if (!Value.Any())
{
    <div class="my-not-have">
        <div class="text-h6 text--secondary font-weight-bold-desktop">
            @(I18n.T("Tag.NoTag"))
        </div>
    </div>
}

<InputDialog @bind-Value="ShowRename"
@bind-Text="SelectedTag.Name"
             Title="@(I18n.T("Tag.Rename"))"
             Placeholder="@(I18n.T("Tag.Placeholder"))"
             OnOK="HandleRename">
</InputDialog>

<DeleteDialog @bind-Value="ShowDelete"
              Title="@(I18n.T("Tag.Delete.Title"))"
              Content="@(I18n.T("Tag.Delete.Content"))"
              OnOK="()=>HandleDelete(SelectedTag)">
</DeleteDialog>
