@namespace SwashbucklerDiary.Rcl.Components
@inherits DialogComponentBase

<CustomMDialog MyValue="Visible"
               MyValueChanged="InternalVisibleChanged"
               ContentClass="rounded-lg"
               MaxWidth="420"
               Scrollable="true"
               OnBeforeShowContent="BeforeShowContent">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Select tags"))
            <MSpacer></MSpacer>
            <MButton Icon="true"
                     OnClick="() => showSearch = !showSearch">
                <MIcon>search</MIcon>
            </MButton>
            <MButton Icon="true"
                     OnClick="HandleOnCancel">
                <MIcon>close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="pb-0">
            @if (showSearch)
            {
                <CustomMTextField @bind-Value="_searchText"
                                  Class="mb-2"
                                  OnInput="UpdateInternalItems"
                                  Dense
                                  TValue="string"
                                  Filled
                                  Rounded
                                  Clearable
                                  Color="@Color"
                                  HideDetails="@("auto")"
                                  spellcheck="false"
                                  Placeholder="@(I18n.T("Search"))"
                                  PrependInnerIcon="search">
                </CustomMTextField>
            }
            <div class="scroll-show" style="max-height:200px;">
                <MChipGroup @bind-Values="SelectedTagIds"
                            Column="true"
                            Multiple="true">
                    @foreach (var item in internalItems)
                    {
                        <MChip @key="item.Id"
                               Value="@(item.Id.ToString())"
                               Filter="true">
                            @(item.Name)
                        </MChip>
                    }
                </MChipGroup>
            </div>
        </MCardText>
        <MCardActions>
            <MButton Text="true"
                     OnClick="() => showAddTag = true">
                @(I18n.T("Add tags"))
            </MButton>
            <MSpacer></MSpacer>
            <MButton Text="true"
                     OnClick="HandleOnCancel">
                @(I18n.T("Cancel"))
            </MButton>
            <MButton Text="true"
                     Color="primary"
                     OnClick="HandleOnSave">
                @(I18n.T("Save"))
            </MButton>
        </MCardActions>
    </MCard>
</CustomMDialog>

<InputDialog @bind-Visible="showAddTag"
             Title="@(I18n.T("Add tags"))"
             Placeholder="@(I18n.T("Please enter a tag name"))"
             OnOK="SaveAddTag">
</InputDialog>