@namespace SwashbucklerDiary.Rcl.Components
@inherits DialogComponentBase

<CustomMDialog MyValue="Visible"
                  MyValueChanged="InternalVisibleChanged"
                  ContentClass="rounded-lg"
                  MaxWidth="420"
                  Scrollable="true"
                  OnBeforeShowContent="BeforeShowContent">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Select location"))
            <MSpacer></MSpacer>
            <MButton Icon
                     OnClick="()=>showSearch=!showSearch">
                <MIcon>mdi-magnify</MIcon>
            </MButton>
            <MButton Icon
                     OnClick="HandleOnCancel">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>

        <MCardText Class="pb-0">
            @if (showSearch)
            {
                <CustomMTextField @bind-Value="_searchText"
                                     Class="mb-2"
                                     OnInput="UpdateInternalItems"
                                     Dense
                                     TValue="string"
                                     Filled
                                     Rounded
                                     Clearable
                                     Color="@Color"
                                     HideDetails="@("auto")"
                                     spellcheck="false"
                                     Placeholder="@(I18n.T("Search"))"
                                     PrependInnerIcon="mdi-magnify">
                </CustomMTextField>
            }
            <div class="scroll-show" style="max-height:300px;">
                <Virtualize Items="internalItems"
                            ItemSize="56"
                            Context="item">
                    <MListItem @key="item.Id"
                               Class="mb-1 rounded"
                               OnClick="()=>SetSelectedLocation(item)">
                        <MListItemContent>
                            @(item.Name)
                        </MListItemContent>

                        <MListItemAction>
                            @if (item.Name == selectedLocation)
                            {
                                <MIcon>
                                    mdi-check
                                </MIcon>
                            }
                        </MListItemAction>
                    </MListItem>
                </Virtualize>
            </div>
        </MCardText>
        <MCardActions>
            <MButton Text="true"
                     OnClick="()=>showAdd = true">
                @(I18n.T("Add"))
            </MButton>
            <MSpacer></MSpacer>
            <MButton Text="true"
                     OnClick="HandleOnCancel">
                @(I18n.T("Cancel"))
            </MButton>
            <MButton Text="true"
                     Color="primary"
                     OnClick="HandleOnOK">
                @(I18n.T("OK"))
            </MButton>
        </MCardActions>
    </MCard>
</CustomMDialog>

<InputDialog @bind-Visible="showAdd"
             Title="@(I18n.T("Add location"))"
             Placeholder="@(I18n.T("Please enter a location name"))"
             MaxLength="200"
             OnOK="SaveAdd">
</InputDialog>