@namespace SwashbucklerDiary.Rcl.Components
@inherits DialogComponentBase

<MDialogExtension MyValue="Visible"
                  MyValueChanged="InternalVisibleChanged"
                  ContentClass="rounded-lg"
                  MaxWidth="420"
                  Scrollable="true"
                  OnBeforeShowContent="BeforeShowContent">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            @(I18n.T("Tag.Select"))
            <MSpacer></MSpacer>
            <MButton Icon="true"
                     OnClick="()=>showSearch=!showSearch">
                <MIcon>mdi-magnify</MIcon>
            </MButton>
            <MButton Icon="true"
                     OnClick="HandleOnCancel">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MCardText Class="pb-0">
            @if (showSearch)
            {
                <MTextFieldExtension @bind-Value="_searchText"
                                     Class="mb-2"
                                     OnInput="UpdateInternalItems"
                                     Dense
                                     TValue="string"
                                     Filled
                                     Rounded
                                     Clearable
                                     Color="@Color"
                                     HideDetails="@("auto")"
                                     spellcheck="false"
                                     Placeholder="@(I18n.T("Share.Search"))"
                                     PrependInnerIcon="mdi-magnify">
                </MTextFieldExtension>
            }
            <div class="scroll-show" style="max-height:200px;">
                <MChipGroup @bind-Values="SelectedTagIds"
                            Column="true"
                            Multiple="true">
                    @foreach (var item in internalItems)
                    {
                        <MChip @key="item.Id"
                               Value="@(item.Id.ToString())"
                               Filter="true">
                            @(item.Name)
                        </MChip>
                    }
                </MChipGroup>
            </div>
        </MCardText>
        <MCardActions>
            <MButton Text="true"
                     OnClick="()=>showAddTag = true">
                @(I18n.T("Tag.Add"))
            </MButton>
            <MSpacer></MSpacer>
            <MButton Text="true"
                     OnClick="HandleOnCancel">
                @(I18n.T("Share.Cancel"))
            </MButton>
            <MButton Text="true"
                     Color="primary"
                     OnClick="HandleOnSave">
                @(I18n.T("Share.Save"))
            </MButton>
        </MCardActions>
    </MCard>
</MDialogExtension>

<InputDialog @bind-Visible="showAddTag"
             Title="@(I18n.T("Tag.Add"))"
             Placeholder="@(I18n.T("Tag.Placeholder"))"
             OnOK="SaveAddTag">
</InputDialog>