@namespace SwashbucklerDiary.Components
@inherits DialogComponentBase

<MDialog Value="Value"
         ValueChanged="ValueChanged"
         Fullscreen="true"
         Persistent="true"
         Transition="null">
    <MCard Class="d-flex justify-center align-center fcfcfc">
        <MList Class="@($"text-center fcfcfc {(FirstLaunchLanguage?"d-none":"")}")" Style="width:100%;">
            <MListItemGroup Value="0"
                            Mandatory="true"
                            Color="indigo">
                @foreach (var item in Languages)
                {
                    <MListItem OnClick="()=>SetLanguage(item.Value)">
                        <MListItemContent>
                            <MListItemTitle>
                                @(item.Key)
                            </MListItemTitle>
                        </MListItemContent>
                    </MListItem>
                }
            </MListItemGroup>
        </MList>

        <div class="@(FirstLaunchLanguage?"":"d-none")">
            <MCard Class="ma-6"
                   Elevation="4"
                   Rounded="@("lg")"
                   MaxWidth="420">
                <MCardTitle Class="font-weight-bold justify-center">
                    @(I18n.T("AgreementAndPolicy.Title"))
                </MCardTitle>
                <MCardText Class="pb-0">
                    <MMarkdownIt Source="@(I18n.T("AgreementAndPolicy.Content"))" Breaks="true">
                    </MMarkdownIt>
                </MCardText>
                <MCardActions>
                    <MButton Class="flex-grow-1"
                             Text="true"
                             Rounded="true"
                             OnClick="OnDisagree">
                        @(I18n.T("AgreementAndPolicy.Disagree"))
                    </MButton>
                    <MButton Class="flex-grow-1"
                             Dark="true"
                             Rounded
                             Color="primary"
                             OnClick="OnArgee">
                        @(I18n.T("AgreementAndPolicy.Agree"))
                    </MButton>
                </MCardActions>
            </MCard>
        </div>
    </MCard>
</MDialog>
