@namespace SwashbucklerDiary.Components
@inherits DialogComponentBase

<MMDialog MyValue="Value"
          MyValueChanged="ValueChanged"
          Fullscreen="true"
          Transition="@(null)">
    <MCard Class="fill-height theme-element d-flex flex-column"
           Ripple="false"
           OnClick="()=>InternalValueChanged(false)">
        <MToolbar Class="flex-grow-0 theme-element"
                  Elevation="0">
            <MButton Icon="true">
                <MIcon>
                    mdi-arrow-left
                </MIcon>
            </MButton>

            <MSpacer></MSpacer>

            <MButton Icon="true"
                     OnClickStopPropagation="true"
                     OnClick="SaveToLocal">
                <MIcon>
                    mdi-tray-arrow-down
                </MIcon>
            </MButton>
            <MButton Icon="true"
                     OnClickStopPropagation="true"
                     OnClick="Share">
                <MIcon>
                    mdi-share-variant-outline
                </MIcon>
            </MButton>
        </MToolbar>
        <div class="flex-grow-1" style="position:relative;">
            <MImage Style="position:absolute;"
                    Src="@Src"
                    Width="@("100%")"
                    Height="@("100%")"
                    Contain="true">
                <PlaceholderContent>
                    <MRow Class="fill-height ma-0"
                          Align="@AlignTypes.Center"
                          Justify="@JustifyTypes.Center">
                        <MProgressCircular Indeterminate="true">
                        </MProgressCircular>
                    </MRow>
                </PlaceholderContent>
            </MImage>
        </div>
        <MToolbar Class="flex-grow-0 theme-element"
                  Elevation="0">
        </MToolbar>
    </MCard>
</MMDialog>
